@use "../01-abstracts/mixins" as mx;

.benefits-list {
  --benefits-gap: clamp(1.5rem, 4vw, 4rem);
  --benefits-item-gap: 1.5rem;
  --benefits-media-width: #{mx.px-to-rem(448px)};

  display: grid;
  gap: var(--benefits-gap);
  margin-top: 1.5rem;

  @include mx.for-size("tablet-landscape-up") {
    &--with-media {
      grid-template-columns: minmax(14rem, var(--benefits-media-width)) minmax(0, 1fr);
      align-items: start;
    }
  }

  &__media {
    img {
      display: block;
      width: 100%;
      max-width: var(--benefits-media-width);
      aspect-ratio: var(--portrait);
      object-fit: cover;
    }
  }

  &__body {
    display: grid;
    gap: clamp(1.5rem, 3vw, 2.5rem);
  }

  &__header {
    max-width: 65ch;
  }

  &__items {
    display: grid;
    gap: var(--benefits-item-gap);

    @include mx.for-size("tablet-landscape-up") {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
  }

  &__icon {
    background: var(--umkc-blue);
    color: white;
    display: grid;
    place-items: center;
    width: mx.px-to-rem(58px);
    height: mx.px-to-rem(58px);
    flex: 0 0 mx.px-to-rem(58px);
    border-radius: 50%;

    @include mx.font-size(32px, 1);

    font-family: var(--roboto);
    font-weight: 700;
  }

  &__icon--flame {
    position: relative;

    .icon {
      --width: 2.75rem;
      --height: calc(var(--width) * 1.1919);

      position: absolute;
      right: 0;
      bottom: -#{mx.px-to-rem(0.95px)};
      width: var(--width);
      height: var(--height);
    }
  }

  &__title {
    --heading-margin: 0;
    line-height: 1;
  }

  &__details {
    max-width: 60ch;

    p:first-child {
      font-weight: 700;
      font-size: 1.25rem;
    }
  }

  &__cta {
    text-align: center;
  }

  &__stat {
    @include mx.font-size(56px, 1);

    font-family: var(--roboto);
    font-weight: 700;
    color: var(--umkc-blue);
  }

  &--stats {
    .benefits-list__items {
      @include mx.for-size("tablet-landscape-up") {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }

    .benefits-list__item {
      display: grid;
      gap: 1rem;
    }
  }

  &--small-stats {
    margin-top: 0;

    .benefits-list__items {
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 12rem), 1fr));
    }

    .benefits-list__item {
      text-align: center;
      justify-items: center;
    }
  }
}
