.breadcrumbs {
  padding: calc(var(--content-padding) / 3) var(--content-padding);
  color: #8b8b8b;

  &__item {
    &:not(:last-child)::after {
      content: " / ";
    }
  }

  &__link {
    list-style: none;
    color: #8b8b8b;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: var(--default-hover, var(--umkc-dark-blue));
      text-decoration: underline;
    }
  }
}
