@use "../01-abstracts/mixins" as mx;

.content-row {
  background-color: var(--white);
  padding: var(--content-padding);
  --heading-margin: 1.5rem 0;
  &:has(.highlight) {
    --heading-margin: 1.5rem 0;
  }
}
