@use "../01-abstracts/variables" as vars;
@use "../01-abstracts/mixins" as mx;

.footer {
  --logo-height: #{mx.px-to-rem(100px)};
  color: var(--white);
  font-weight: 300;

  nav {
    ul {
      margin: 0;
      padding: 0;
    }
  }
  a {
    &:not([class]),
    &[class=""] {
      color: var(--white);
    }
  }

  > [class*="footer__"] {
    padding-left: var(--global-padding);
    padding-right: var(--global-padding);
    display: flex;
  }

  &__top {
    align-items: center;

    @include mx.for-size("tablet-landscape-up"){
      align-items: flex-start;
    }

    background-image: var(--footer-image);
    background-color: var(--black);
    background-position: center bottom;
    background-size: cover;
    height: 44.5vh;
    justify-content: center;
  }

  &__bottom {
    padding-bottom: 2rem;
    padding-top: 1rem;
    flex-flow: column wrap;

    @include mx.for-size("tablet-portrait-up") {
      /* styleling-disable selector-class-pattern */
      .logo,
      .footer__nav {
        flex-basis: 50%;
      }
      /* stylelint-enable */
    }

    @include mx.for-size("tablet-landscape-up") {
      justify-content: space-between;

      /* stylelint-disable selector-class-pattern */
      .logo,
      .footer__nav {
        flex-basis: 25%;
      }
      /* stylelint-enable */
    }
  }
  &__mid {
    @include mx.font-size(20px);
    padding: var(--content-padding);
  }
  @include mx.for-size("tablet-portrait-up") {
    &__mid {
      display: flex;
      flex-flow: row wrap;
      padding: var(--content-padding);
    }

    &__bottom {
      flex-flow: row nowrap;
    }
  }

  &__info {
    @include mx.for-size("tablet-portrait-up") {
      flex-basis: calc(100% - 16rem - var(--content-padding));
      border-right: solid var(--umkc-light-blue) 2px;
      padding-right: var(--content-padding);
    }
    @include mx.for-size("tablet-landscape-up") {
      border-right: solid var(--umkc-light-blue) 2px;
      flex-basis: calc(100% - 14rem - var(--content-padding));
      padding-right: var(--content-padding);
    }

    @include mx.for-size("desktop-up") {
      border-right: solid var(--umkc-light-blue) 2px;
      flex-basis: calc(100% - 432px - var(--content-padding));
      padding-right: var(--content-padding);
    }
  }

  &__title {
    font-family: var(--os);
    text-transform: uppercase;
    @include mx.font-size(20px, 1.25);

    @include mx.for-size("tablet-portrait-up"){
      @include mx.font-size(24px, 1.25);
    }

    @include mx.for-size("tablet-landscape-up"){
      @include mx.font-size(36px, 1.25);
    }
  }

  &__nav {
    --button-size: #{mx.px-to-rem(18px)};
    --button-weight: 400;

    @include mx.font-size(18px, 1.5);

    margin: 0.5rem 0;

    @include mx.for-size("tablet-landscape-up") {
      --button-size: #{mx.px-to-rem(32px)};
    }

    &--title {
      font-family: var(--os);
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 0.675rem;
      @include mx.font-size(20px);

      @include mx.for-size("tablet-landscape-up"){
        @include mx.font-size(24px);
      }
    }

    &--bold {
      font-weight: 700;
    }

    @include mx.for-size("tablet-landscape-up") {
      &--separator {
        border-left: mx.px-to-rem(1px) solid rgb(255 255 255 / 35%);
        padding-left: 1rem;
      }
    }

    &--social {
      --social-icon: 3.5rem;
      align-items: center;
      margin: 2rem 0;
      align-self: flex-start;
      @include mx.for-size("desktop-up"){
        align-self: flex-start;
      }

      .social__link {
        border: solid 1px rgba(0,0,0,0.25);
        background: rgba(0,0,0,0.25);
        display: block;
        @include mx.tr;
        margin-top: 0.25rem;
        &:hover,
        &:focus,
        &:active {
          background: var(--umkc-yellow);
          border-color: var(--umkc-yellow);
          color: var(--umkc-dark-blue);
        }
      }
    }

    &--buttons {
      @include mx.for-size("tablet-landscape-up"){
        margin-top: 3rem;
      }

      li {
        margin: 1rem 0;
        text-align: center;
        @include mx.for-size("tablet-landscape-up") {
          display: inline-block;
          margin: 1rem;
        }
      }
    }
  }
  &__links {
    align-self: center;
    flex: 1;
    justify-content: center;
    padding: calc(var(--content-padding) * 2) 0 0;

    @include mx.for-size("tablet-portrait-up") {
      padding: var(--content-padding);
    }
    .footer__nav {
      padding-top: 1.5rem;
      @include mx.for-size("tablet-landscape-up") {
        @include mx.font-size(20px);
      }

      li {
        margin-bottom: 0.35rem;
      }
    }
  }
  &__curator {
    flex-wrap: wrap;
    padding-bottom: 6rem;

    @include mx.for-size("tablet-landscape-up") {
      padding-bottom: 2rem;
    }
    .nav {
      margin-bottom: 0.5rem;

      li {
        display: block;

        @include mx.for-size("tablet-landscape-up") {
          display: inline-block;
          line-height: 1;
          padding: 0 0.675rem 0 0.5rem;

          &:not(:last-child) {
            border-right: solid 1px var(--white);
          }

          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    @include mx.for-size("tablet-landscape-up"){
      flex-direction: row;
    }
  }
  &__item {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
  }
  &__icon {
    --icon-size: #{mx.px-to-rem(29px)};
    height: var(--icon-size);
    width: var(--icon-size);
    color: var(--umkc-light-blue);
  }
}

.container {
  display: grid;
  grid-template-columns: 29px max-content;
  grid-template-rows: 1fr;
  column-gap: mx.px-to-rem(32px);
  margin-top: mx.px-to-rem(24px);
  grid-template-areas:
    "Icon Content";
}
.Icon { grid-area: Icon; }
.Content { grid-area: Content; }
