@use "../01-abstracts/variables" as vars;
@use "../01-abstracts/mixins" as mx;

.header {
  $self: &;
  --hPadding: var(--content-padding);
  padding: 0.75rem var(--hPadding);
  @include mx.for-size("tablet-portrait-up") {
    --hPadding: var(--global-padding);
  }

  &--white {
    --background: var(--white);
    --logo-color: var(--umkc-blue);
    --link-color: var(--umkc-blue);
    --text-color: var(--umkc-blue);
    --search-bg: #e5eef5;
  }

  &--navy {
    --background: var(--umkc-dark-blue);
    --logo-color: var(--white);
  }

  a {
    color: var(--link-color, var(--white));
    text-decoration: none;
  }

  &--primary {
    background: var(--background, var(--umkc-blue));
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @include mx.for-size("tablet-landscape-up") {
      flex-direction: row;
    }
  }
  &--secondary {
    background: var(--background, var(--umkc-blue));
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    padding: var(--global-padding) var(--hPadding);
    border-bottom: solid mx.px-to-rem(3px) var(--umkc-yellow);

    @include mx.for-size("tablet-landscape-up") {
      justify-content: flex-start;
    }

  }

  &__pfinder {
    &#{$self}--primary {
      --background: var(--umkc-navy);
      a {
        font-weight: 600;
        @include mx.font-size(16px);
        text-transform: uppercase;
        font-family: var(--os);
      }
    }
    &#{$self}--secondary {
      --background: var(--umkc-blue);
    }
  }

  &__cta {
    display: none;
    @include mx.for-size("desktop-up") {
      display: block;
    }
    &-item {
      margin: 0 0.65rem;
      font-weight: 400;

      @include mx.for-size("tablet-landscape-up"){
        &:first-child {
          margin-left: 0;
        }
        &:nth-of-type(3) {
          padding-right: 1.3rem;
          border-right: solid 1px var(--white);
        }
      }

      &--bold {
        font-weight: 600;
      }
    }
  }
}

// Header site title
.site-title {
  @include mx.font-size(18px);

  text-align: center;
  text-transform: uppercase;

  @include mx.for-size("tablet-landscape-up") {
    text-align: left;
  }
}

.dept-header {
  @include mx.for-size("phone-only") {
    padding: var(--global-padding) var(--hPadding);
    padding-bottom: 0;
    text-align: center;
  }
  padding-left: var(--global-padding);

  @include mx.for-size("tablet-landscape-up") {
    display: flex;
    position: relative;

    &:before {
      display: block;
      align-self: stretch;
      background: var(--text-color, var(--white));
      content: " ";
      width: mx.px-to-rem(2px);
      position: absolute;
      height: mx.px-to-rem(60px);
      left: 0;
      bottom: 0;
    }
  }

  &__title {
    align-self: flex-end;
    color: var(--text-color, var(--white));
    padding: 0;
    margin: 0;
    @include mx.font-size(34px, 1);
    a {
      display: inline-block;
    }
    &--sm {
      @include mx.font-size(28px, 1);
    }
  }

  &__sub {
    @include mx.font-size(20px, 1.15);

    display: block;
  }
}

.search {
  margin-left: auto;
  display: flex;
  position: fixed;
  bottom: mx.px-to-rem(84px);
  left: 0;
  box-shadow: 0 0 25px 0px #000;
  z-index: 2;
  padding: 1rem 0;
  background: var(--umkc-blue);
  width: 100%;
  justify-content: center;
  align-content: center;
  visibility: hidden;
  transition: all 150ms linear;
  transform: translateY(100%);
  &[aria-hidden="false"]{
    visibility: visible;
    transform: translateY(0%);
  }
  @include mx.for-size("desktop-up") {
    background: none;
    position: static;
    box-shadow: none;
    width: auto;
    justify-content: flex-end;
    visibility: visible;
    transform: translateY(0);
  }

  input {
    background: var(--search-bg, var(--white));
    border: none;
    border-radius: mx.px-to-rem(7px) 0  0 mx.px-to-rem(7px);

    @include mx.font-size(16px);

    margin: 0;
    padding: 0.25rem 0.5rem;
    width: 75vw;
    @include mx.for-size("desktop-up"){
      width: unset;
    }
    height: 42px;
  }

  button {
    border-radius: 0 mx.px-to-rem(7px) mx.px-to-rem(7px) 0;
    color: var(--umkc-blue);
    background: var(--umkc-yellow);
    padding: 0.5rem;
    height: 42px;
    @include mx.tr(all);
    &:hover, &:focus, &:active {
      background: var(--umkc-dark-blue);
      color: var(--white);
    }
    svg {
      height: mx.px-to-rem(24px);
      width: mx.px-to-rem(24px);
    }
  }
}
