@use "../01-abstracts/mixins" as mx;

.icl {
  $self: &;

  padding: var(--content-padding);

  --heading-color: var(--umkc-blue);
  --highlight-color: var(--umkc-dark-blue);

  &--blue {
    --heading-color: var(--white);
    --highlight-color: var(--white);

    color: var(--white);
  }

  &__image {
    width: #{mx.px-to-rem(577px)};
    max-width: 100%;
    @include mx.for-size("tablet-landscape-up"){
      padding-right: 4rem;
    }
  }
  &__content {
    flex-grow: 1;
  }
  &__row {
    display: flex;
    align-items: center;
    // margin: var(--content-padding);
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    @include mx.for-size("tablet-landscape-up") {
      justify-content: space-between;
      text-align: left;
      flex-wrap: nowrap;
      &--reverse {
        flex-flow: row-reverse;

        #{$self}__image {
          @include mx.for-size("tablet-landscape-up"){
            padding-right: 0;
            padding-left: 4rem;
          }
        }
      }
    }
  }
}
