@use "../01-abstracts/mixins" as mx;

.il {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: mx.px-to-rem(90px) mx.px-to-rem(16px);
  @include mx.font-size(20px);
  &__item {
    flex: 0 0 mx.px-to-rem(256px);
    //
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__icon {
    width: mx.px-to-rem(55px);
    height: auto;
    margin-bottom: mx.px-to-rem(18px);
  }
}
