@use "../01-abstracts/mixins" as mx;

.main-navigation {
  background: var(--nav-background, var(--umkc-dark-blue));
  position: fixed;
  bottom: mx.px-to-rem(66px);
  width: 100%;
  font-weight: 700;
  box-shadow: 0 0 25px 0px #000;
  z-index: 2;
  padding: 1rem 0;
  display: none;
  @include mx.font-size(14px, 1.5);

  @include mx.for-size("tablet-portrait-up"){
    @include mx.font-size(18px, 1.5);
  }
  &[aria-hidden="false"]{
    display: block;
  }

  &--white {
    --nav-background: white;
    --nav-text: var(--umkc-blue);
    --nav-border: var(--umkc-blue);
    --logo-color: var(--umkc-blue);
  }

  &--blue {
    --nav-background: var(--umkc-blue);
    --hover-color: var(--umkc-dark-blue);
  }

  @include mx.for-size("desktop-up") {
    border-top: mx.px-to-rem(3px) solid var(--umkc-yellow);
    box-shadow: none;
    display: block;
    font-family: var(--condensed);
    padding: 0 var(--global-padding);
    position: static;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    @include mx.for-size("desktop-up"){
      flex-wrap: nowrap;
      justify-content: center;
    }
  }

  &__item {
    align-self: center;
    border-bottom: none;
    margin: 0;
    padding: 0.5rem 2rem;
    position: relative;
    @include mx.tr(background);
    flex: 0 0 50%;

    @include mx.for-size("desktop-up"){
      --link-margin: 2rem;
      flex: none;
      &:not(:first-child)::before {
        border-right: solid mx.px-to-rem(1px) var(--nav-border, rgb(255 255 255 / 35%));
        content: "";
        margin-left:  calc(var(--link-margin) * -1);
        height: 100%;
        position: absolute;
        top: 0;
      }
    }

    @include mx.for-size("desktop-up") {
      --link-margin: 1.5rem;
      padding: 0.5rem var(--link-margin);
    }
    &:hover,
    &:focus {
      background: var(--hover-color, var(--umkc-blue));

      a {
        color: var(--hover-text, var(--white));
      }
    }
  }

  &__link {
    color: var(--nav-text, white);
    display: block;
    text-decoration: none;
    padding: 0 0.5rem;

    @include mx.tr("color");

    @include mx.for-size("desktop-up") {
      padding: 0.5rem 1rem;
    }
  }

  &__close {
    background: none;
    border: none;
    position: absolute;
    color: var(--nav-text, var(--white));
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
    display: block;

    @include mx.tr("background");

    &:hover,
    &:focus {
      background: var(--hover-color, var(--umkc-blue));
    }

    @include mx.for-size("desktop-up") {
      display: none;
    }
  }

  &__icon {
    height: mx.px-to-rem(50px);
  }

  &__menu {
    color: white;
    padding: 1rem;
    align-self: flex-end;

    @include mx.for-size("desktop-up") {
      display: none;
    }
  }
}
