@use '../01-abstracts/mixins' as mx;

.main-navigation {
  &--white {
    --nav-background: white;
    --nav-text: var(--umkc-blue);
    --nav-border: var(--umkc-blue);
  }

  &--blue {
    --nav-background: var(--umkc-blue);
  }

  align-items: center;
  background: var(--nav-background, var(--umkc-dark-blue));
  border-top: mx.px-to-rem(10px) solid var(--umkc-yellow);
  display: flex;
  font-family: var(--condensed);
  font-weight: 700;
  justify-content: center;
  padding: 0 var(--global-padding);

  @include mx.font-size(20px, 1.5em);

  ul{
    display: flex;
    flex-direction: row;
  }

  li {
    align-self: center;
    padding: .5rem 2rem;
    position: relative;
    &:not(:first-child)::before{
      border-right: solid mx.px-to-rem(1px) var(--nav-border, rgb(255, 255, 255, 35%));
      content: "";
      margin-left: -2rem;
      height: 100%;
      position: absolute;
      top: 0;
    }
    &:hover, &:focus{
      background: var(--hover-color, var(--umkc-blue));
    }
  }
  a {
    color: var(--nav-text, white);
    display: block;
    text-decoration: none;
    padding: .5rem 1rem;
  }
}
