@use "../01-abstracts/mixins" as mx;

#main-navigation {
  position: fixed;
  transition: 150ms linear all;
  transform: translateY(100%);
  visibility: hidden;
  bottom: mx.px-to-rem(84px);
  z-index: 2;
  background: var(--nav-background, var(--umkc-navy));
  box-shadow: 0 0 25px 0px #000;
  &[aria-hidden="false"]{
    visibility: visible;
    transform: translateY(0);
  }
  @include mx.for-size("desktop-up") {
    box-shadow: none;
    position: static;
    transform: translateY(0);
    visibility: visible;
  }
}
.main-navigation {
  $self: &;
  display: block;
  width: 100%;
  font-weight: 700;
  padding: 1rem 0;
  @include mx.font-size(18px, 1.5);
  @include mx.for-size("desktop-up") {
    border-top: mx.px-to-rem(3px) solid var(--umkc-yellow);
    font-family: var(--condensed);
    padding: 0 var(--global-padding);
  }
  &--white {
    --nav-background: white;
    --nav-text: var(--umkc-blue);
    --nav-border: var(--umkc-blue);
    --logo-color: var(--umkc-blue);
  }

  &--blue {
    --nav-background: var(--umkc-blue);
    --hover-color: var(--umkc-dark-blue);
  }
  &--cta {
    border-top: solid 2px var(--umkc-blue);
    margin: 1rem 0;
    padding: 1rem 0;
    @include mx.for-size("desktop-up"){
      display: none;
    }
  }
  &--pfinder {
    border-top: transparent;
    --nav-background: var(--umkc-blue);
    display: none;
    position: fixed !important;
    @include mx.for-size("desktop-up"){
      z-index: 5;
    }
    &.is-sticky {
      top: 0;
      bottom: unset !important;
      display: block;
    }

    &[aria-hidden=false]{
      display: block;
      top: 0;
      bottom: 59px !important;
      #{$self}__list {
        display: block;
      }

      #{$self}__item {
        padding: 1rem;
        &:not(:last-child) {
          border-bottom: solid 1px white;
        }
        &--info {
          bottom: 0;
          right: unset;
          padding: 0 0 0.5rem;
          display: block;
          width: 100%;
          text-align: center;
          a {
            border-radius: 0;
          }
        }
      }
    }

    #{$self}__list {
      justify-content: flex-start;
      position: relative;
      height: 100%;
    }

    #{$self}__item {
      font-family: var(--os);
      font-weight: 400;
      &::before {
        border: none !important;
      }
      &--info{
        position: absolute;
        right: 0;
        a{
          margin-top: -1rem;
          background: var(--umkc-yellow);
          color: var(--umkc-dark-blue);
          border-radius: 0 0 1rem 1rem;
          padding: 0.75rem 2rem;
          font-weight: bold;
          text-transform: uppercase;
          @include mx.tr();
          &:hover, &:focus {
            background: var(--umkc-dark-blue);
            color: var(--white);
          }
          .close {
            display: none;
          }
          &.active {
            .close {
              display: block;
            }
            .req {
              display: none;
            }
          }
        }
      }

    }
  }

  &__list {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    margin: 0;
    @include mx.for-size("tablet-portrait-up"){
      flex-flow: row wrap;
    }
    @include mx.for-size("desktop-up"){
      flex-wrap: nowrap;
      justify-content: center;
    }
  }

  &__item {
    align-self: center;
    border-bottom: none;
    margin: 0;
    padding: 0.5rem 2rem;
    position: relative;

    @include mx.tr(background);
    @include mx.for-size("tablet-portrait-up"){
      flex: 0 0 50%;
    }
    @include mx.for-size("desktop-up"){
      --link-margin: 1rem;
      padding: 0.5rem var(--link-margin, 1.5rem);
      flex: none;
      &:not(:first-child)::before {
        border-right: solid mx.px-to-rem(1px) var(--nav-border, rgb(255 255 255 / 35%));
        content: "";
        margin-left:  calc(var(--link-margin) * -1);
        height: 100%;
        position: absolute;
        top: 0;
      }
    }
    @include mx.for-size("big-desktop-up"){
      --link-margin: 2rem;
    }

    &:hover,
    &:focus {
      background: var(--hover-color, var(--umkc-blue));

      a {
        color: var(--hover-text, var(--white));
      }
    }
  }

  &__link {
    color: var(--nav-text, white);
    display: block;
    text-decoration: none;
    padding: 0 0.5rem;

    @include mx.tr("color");

    @include mx.for-size("desktop-up") {
      padding: 0.5rem 0.25rem;
    }
    @include mx.for-size("big-desktop-up") {
      padding: 0.5rem 1rem;
    }
  }

  &__close {
    background: none;
    border: none;
    position: absolute;
    color: var(--nav-text, var(--white));
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
    display: block;

    @include mx.tr("background");

    &:hover,
    &:focus {
      background: var(--hover-color, var(--umkc-blue));
    }

    @include mx.for-size("desktop-up") {
      display: none;
    }
  }

  &__icon {
    height: mx.px-to-rem(50px);
  }

  &__menu {
    color: white;
    padding: 1rem;
    align-self: flex-end;

    @include mx.for-size("desktop-up") {
      display: none;
    }
  }
}
