@use "../01-abstracts/mixins" as mx;

.program-finder {
    $self: &;


    &__title {
        text-align: center;
    }

    &__highlight {
        text-align: center;
    }

    &__form-wrapper {
        max-width: 800px;
        margin: 0 auto;

        .module-search__group {
            display: flex;
            border-radius: 6px;
            max-width: 800px;
            margin: 0 auto;
            box-shadow: -2px 2px 6px #c4cace;
        }

        .twitter-typeahead {
            display: flex;
            flex: auto;
        }

        .module-search__query {
            border: 0;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            font-size: .875rem;
            font-weight: 700;
            outline: none;
            padding: 1.125rem 2.6875rem 1.0625rem 1.125rem;
            width: 100%;
            background: var(--umkc-gray) 0% 0% no-repeat padding-box;
            color: var(--umkc-dark-blue);
            font-weight: 600;
        }

        .tt-menu {
            background: white 0% 0% no-repeat padding-box;
            z-index: 2 !important;
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            box-shadow: -2px 2px 6px var(--umkc-gray);
            width: 100%;
        }

        .module-search__list-item {
            padding: 0.5em 0;

            a {
                // Inherited from funnelback styles
                color: var(--umkc-dark-blue);

                &:hover {
                }

                span {
                    .tt-hightlight {
                    }

                    .module-search__list-more {
                    }
                }
            }
        }

        .tt-dataset {
            text-align: left;
            // padding: 1em 2em !important;
            padding: 1em 2em;
        }

        .tt-category {
            color: var(--umkc-dark-blue);
            font-family: 'Roboto Condensed', arial, sans-serif;
            font-weight: 600;
            display: none;
        }

        .module-search__button {
            border: none;
            background-color: var(--umkc-yellow);
            color: var(--umkc-dark-blue);
            font-size: 2rem;
            padding: 0.5rem 1.5rem;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            box-shadow: none;

            .icon {
                // Icon size variable
                $search-icon: #{mx.px-to-rem(48px)};

                color: var(--umkc-dark-blue);
                height: $search-icon;
                width: $search-icon;
            }

            .sr-only {
            }
        }

        .tt-suggestion {
            // This is an inline-style for
            // dynamic funnelback-generated
            // content.

            font-size: #{mx.px-to-rem(16px)};
            font-weight: 300;
            color: var(--umkc-dark-blue);
            cursor: pointer;
        }

        .module-search__additional-links {
            text-align: center;
            margin: 2em auto;
        }
    }
}