@use "../01-abstracts/mixins" as mx;

.pwb {
  padding: 0 var(--content-padding) var(--content-padding);
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  flex-flow: column;

  @include mx.for-size("desktop-up") {
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
  }

  &--blue {
    --highlight-color: var(--white);
    --heading-color: var(--white);
  }

  &__img {
    align-self: center;
    aspect-ratio: 1 / 1;
    margin-top: -3rem;
    max-width: mx.px-to-rem(400px);
    object-fit: cover;

    @include mx.for-size("desktop-up") {
      align-self: flex-start;
      width: mx.px-to-rem(600px);
      max-width: mx.px-to-rem(600px);
    }
  }

  &__content {
    text-align: center;
    margin-top: 1.75rem;

    @include mx.for-size("desktop-up") {
      text-align: left;
      padding-left: 4rem;
    }
  }

  &__title {
    --heading-size: #{mx.px-to-rem(28px)};
    @include mx.for-size("desktop-up") {
      --heading-size: #{mx.px-to-rem(42px)};
    }
  }
}
