@use "../01-abstracts/mixins" as mx;

.quote {
  $self: &;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  @include mx.for-size("tablet-landscape-up") {
    padding: 0 var(--content-padding);
    gap: 2rem;
  }
  &--single {
    justify-content: center;
    #{$self}__item {
      display: block;
      @include mx.for-size("tablet-landscape-up") {
        flex: 0 1 #{mx.px-to-rem(777px)};
      }
    }
    #{$self}__title {
      --heading-color: var(--font-color);
    }
    #{$self}__blockquote {
      @include mx.font-size(30px);

      margin: 1.5rem 0;
      padding: 0 1rem;
    }
  }

  &__icon {
    color: var(--umkc-blue);

    @include mx.font-size(90px, 1);

    font-family: Times, serif;
    font-weight: 700;
    display: block;
  }

  &__blockquote {
    color: var(--font-color);

    @include mx.font-size(18px, 1.5);

    margin: 0 0 2rem;
  }

  &__item {
    text-align: center;
    display: none;

    @include mx.for-size("tablet-landscape-up"){
      display: block;
      flex-basis: calc(100% / 3);
    }
  }

  &__title {
    --heading-size: #{mx.px-to-rem(20px)};
    --heading-margin: 1rem 0 0;
  }

  &__bullets {
    text-align: center;
    display: block;
    @include mx.for-size("tablet-landscape-up") {
      display: none;
    }
  }

  &__bullet {
    background: var(--umkc-blue);
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 100%;
    margin: 0.25rem;

    &--active {
      background: var(--umkc-dark-blue);
    }
  }
  img {
    height: #{mx.px-to-rem(150px)};
    width: #{mx.px-to-rem(150px)};
  }

  &--hp {
    --font-color: var(--white);
    color: var(--font-color);
    background: rgba(0, 102, 204, 0.80);
    padding: var(--content-padding);
    #{$self}__icon {
      color: var(--font-color);
    }
    #{$self}__blockquote {
      @include mx.for-size("tablet-landscape-up") {
        @include mx.font-size(30px);
      }
    }
  }
}

.content-row:has(.quote--hp){
  background-image: url('https://picsum.photos/seed/picsum/1920/800');
  background-attachment: fixed;
  background-image: url('https://picsum.photos/seed/picsum/1920/800');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0;
}
