@use "../01-abstracts/mixins" as mx;

.content-row:has(.st__quote) {
  background-attachment: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0;
}
.st__quote {
  --font-color: var(--white);
  color: var(--font-color);
  background: rgba(0,102,204,.8);
  padding: var(--content-padding);

  &--ni{
    background: var(--umkc-blue);
  }
  .quote {
    padding:0;

    &__blockquote {
      font-weight: 400;
      @include mx.font-size(32px, 1.6);
      padding: 0;
    }
  }
  .quote__icon {
    color: white;
  }
}
