// Import the Variables
@use "../01-abstracts/variables" as vars;
@use "../01-abstracts/mixins" as mx;

// Setup the CSS Variables, since SASS is becoming scoped
:root {
  --global-padding: #{mx.px-to-rem(30px)};
  --content-padding: calc(var(--global-padding) * 1.5);
  --logo-ratio: 2.29;
  --logo-height: #{mx.px-to-rem(75px)};
  --logo-color: var(--white);
  --footer-image: url("/src/images/footer-top__image.webp");
  @include mx.for-size("tablet-landscape-up") {
    --logo-height: #{mx.px-to-rem(88px)};
  }

  @each $name, $color in vars.$theme-colors {
    --#{$name}: #{$color};
  }

  @each $name, $font in vars.$font-names {
    --#{$name}: #{$font};
  }
}

.bloch {
  --umkc-yellow: orange;
}
