@use "../01-abstracts/mixins" as mx;
mx.$base-font-size: 16px;

// Imports of Google Fonts
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto+Slab:300,400,700|Roboto:300,400,700&display=swap";
@import "https://fonts.googleapis.com/css?family=Oswald:400&display=swap";

html {
  font-size: 16px;
}

body {
  color: #333;
  font-family: var(--roboto);
  line-height: 1.6;
}

h1,
h2,
h4,
h5,
h6 {
  font-family: var(--roboto);
  margin: 0;
}

h3 {
  font-family: var(--condensed);
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a, button{
  &:focus {
    outline: mx.px-to-rem(2px) dotted var(--umkc-yellow);
  }
}
