@use "../01-abstracts/mixins" as mx;

.alert {
  box-shadow: 0 0 mx.px-to-rem(12px) rgba(0, 0, 0, 0.25);
  border-left: solid mx.px-to-rem(12px) var(--alert-color, var(--umkc-blue));
  padding: 0.5rem var(--content-padding);
  background: var(--umkc-gray);
  margin: 2rem var(--content-padding) 0.5rem;
  --heading-color: var(--alert-color);
  h2 {
    --heading-size: #{mx.px-to-rem(32px)};
  }
  &--warning {
    --alert-color: #cc3300;
  }

  &--success {
    --alert-color: #339900;
  }
}

.site-alert {
  padding: 1.25rem var(--content-padding);
  border-top: solid mx.px-to-rem(12px) var(--umkc-blue);
  border-bottom: solid mx.px-to-rem(6px) var(--umkc-yellow);
  background: var(--umkc-yellow);
  font-size: 18px;
  display: flex;
  align-items: center;
  &__icon {
    flex-basis: mx.px-to-rem(30px);
    float: left;
    height: mx.px-to-rem(30px);
    width: mx.px-to-rem(30px);
    margin-right: 1rem;
    @include mx.for-size("tablet-landscape-up") {
      flex-basis: mx.px-to-rem(40px);
      height: mx.px-to-rem(40px);
      width: mx.px-to-rem(40px);
    }
  }
  &__title {
    @include mx.font-size(24px,1);
    margin: 0 0 0.5rem;
  }
  &__content {
    flex: 1 1;
  }
}

.gdpr {
  align-items: center;
  background: var(--white);
  border-top: solid mx.px-to-rem(8px) var(--umkc-blue);
  bottom: 0;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.75);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 1rem var(--content-padding);
  position: sticky;
  z-index: 2;

  &__buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .button {
      margin: 0.75rem;
    }
  }
}
