@use "../01-abstracts/mixins" as mx;

.block{
  padding: var(--content-padding);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-grid {
  $self: &;
  grid-template-columns: 1fr 1.75fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "block-1 block-2"
    "block-1 block-3";
  @include mx.for-size('tablet-landscape-up'){
    display: grid;
  }

  &__title {
    padding-bottom: 1rem;
  }
  &--top {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "block-1 block-1"
      "block-2 block-3"
      "block-2 block-4";
    --block-1: var(--umkc-blue);
    --block-1-header: var(--white);
    --block-2: var(--umkc-dark-blue);
    --block-2-header: var(--white);
    --block-3: var(--umkc-light-blue);
    --block-3-header: var(--umkc-dark-blue);
    --block-4: var(--umkc-gray);
    --block-4-header: var(--umkc-dark-blue);
  }

  &--bottom {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "block-1 block-2"
      "block-1 block-3"
      "block-4 block-4";
    --block-1: var(--umkc-dark-blue);
    --block-1-header: var(--white);
    --block-2: var(--umkc-light-blue);
    --block-2-header: var(--umkc-dark-blue);
    --block-3: var(--umkc-gray);
    --block-3-header: var(--umkc-dark-blue);
    --block-4: var(--umkc-blue);
    --block-4-header: var(--white);
  }

  --block-1: var(--umkc-dark-blue);
  --block-1-header: var(--white);
  --block-2: var(--umkc-light-blue);
  --block-2-header: var(--white);
  --block-3: var(--umkc-gray);
  --block-3-header: var(--umkc-dark-blue);

  > div:nth-of-type(1) {
    grid-area: block-1;
    background: var(--block-1);
    --heading-color: var(--block-1-header);
  }
  > div:nth-of-type(2) {
    grid-area: block-2;
    background: var(--block-2);
    --heading-color: var(--block-2-header);
  }
  > div:nth-of-type(3) {
    grid-area: block-3;
    background: var(--block-3);
    --heading-color: var(--block-3-header);
  }
  > div:nth-of-type(4) {
    grid-area: block-4;
    background: var(--block-4);
    --heading-color: var(--block-4-header);
  }
}
