@use "../01-abstracts/variables" as var;
@use "../01-abstracts/mixins" as mx;

.button {
  @include mx.button-colors(var.$theme-colors);

  background: var(--btn-bg);
  color: var(--btn-text);
  border: solid mx.px-to-rem(1px) transparent;
  border-radius: mx.px-to-rem(8px);
  display: inline-block;
  font-weight: bold;
  padding: 1rem 2rem;
  text-decoration: none;

  @include mx.tr;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--btn-hover);
    color: var(--btn-hover-text);
  }

  &--cta {
    --arrow-size: 1.5rem;

    @include mx.font-size(24px);

    padding: 1rem 3.75rem;
  }

  &--lg {
    @include mx.for-size("tablet-landscape-up") {
      --arrow-size: 1.5rem;

      @include mx.font-size(24px);

      padding: 1.5rem 2rem;
    }
  }

  &--arrow {
    &::after {
      background: var(--btn-arrow, var(--btn-text));
      background-repeat: no-repeat;
      background-size: var(--arrow-size, 1rem) var(--arrow-size, 1rem);
      content: " ";
      display: inline-block;
      height: var(--arrow-size, 1rem);
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor' class='w-6 h-6'%3E%3Cpath fill-rule='evenodd' d='M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z' clip-rule='evenodd' /%3E%3C/svg%3E");
      mask-position: center;
      mask-mode: screen;
      mask-size: contain;

      // forcing Webkit to be here!
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor' class='w-6 h-6'%3E%3Cpath fill-rule='evenodd' d='M16.28 11.47a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 01-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 011.06-1.06l7.5 7.5z' clip-rule='evenodd' /%3E%3C/svg%3E");
      mask-position: center;
      -webkit-mask-mode: screen;
      mask-size: contain;
      margin-left: 0.75rem;
      margin-bottom: -0.25rem;
      width: var(--arrow-size, 1rem);

      @include mx.tr(background);
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        background: var(--btn-arrow, var(--btn-hover-text));
      }
    }
  }

  &--outline {
    --btn-arrow: var(--btn-bg);

    border-color: var(--btn-bg);
    background: transparent;
    color: var(--btn-bg);

    &:hover,
    &:focus,
    &:active {
      --btn-arrow: var(--btn-text);

      border-color: var(--btn-bg);
      background: var(--btn-bg);
      color: var(--btn-text);
    }
  }

  &--block {
    display: block;
    text-align: center;
  }

  &--inline {
    display: inline;
  }
}
