@use "../01-abstracts/variables" as var;
@use "../01-abstracts/mixins" as mx;
@use "../01-abstracts/flexbox" as fx;

.calendar-date {
	$self: &;
	--header-color: var(--umkc-blue);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;

	@include mx.for-size("desktop-up") {
		flex-direction: row;
	}

	&__container {
		flex-basis: calc(100% / 3);

	}

	&__icon {
		color: var(--iconColor, var(--umkc-navy));
		height: var(--iconHeight, auto);
		width: var(--iconWidth, 24px);
		padding: var(--iconPadding, 0 0.5ch 0 0)
	}

	&__date {
		--iconPadding: 0;
		--iconHeight: 25px;
		--iconWidth: auto;
		color: var(--umkc-navy);
		font-weight: 700;
		font-family: var(--os);
		text-transform: uppercase;
		#{$self}__icon {
			margin-top: -0.5rem;
		}
		@include mx.font-size(24px);

		p {
			padding-bottom: 0.25rem !important;
		}
	}
	&__description {
		@include mx.font-size(18px);
	}
	&__info {
		--iconColor: #4d4d4d;
		color: var(--iconColor);
		font-weight: 300;
	}

	&__time {
		margin-top: 0.25rem;
	}
	&__button {
		margin-top: 3rem;
	}
}
