@use "../01-abstracts/variables" as var;
@use "../01-abstracts/mixins" as mx;
@use "../01-abstracts/flexbox" as fx;

.calendar-date {
	--header-color: var(--umkc-blue);
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	@include mx.for-size("tablet-landscape-up") {
		flex-direction: row;
	}

	&__container {
		display: flex;
		justify-content: flex-start;
		margin-top: 1rem;

		@include mx.for-size("tablet-landscape-up") {
			flex-basis: calc(100% / 3);
			&:not(:nth-child(3n)) {
				margin-right: 1.5rem;
			}
		}
	}

	&__square {
		width: mx.px-to-rem(150px);
		padding: mx.px-to-rem(16px);
		margin-right: mx.px-to-rem(32px);
		border-radius: 0.5rem;
		@include fx.flex-item;
		@include mx.font-size(24px, 1.25);
		font-weight: 700;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&__description {
		font-weight: 500;
	}

	&__time {
		font-weight: 500;
	}
}
