@use "../01-abstracts/mixins" as mx;
@use "../01-abstracts/flexbox" as fx;

.main-content {
  p:not([class]) {
    padding: mx.px-to-rem(8px) 0 mx.px-to-rem(16px);
  }

  h2 {
    color: var(--heading-color, var(--umkc-blue));
    font-size: var(--heading-size, #{mx.px-to-rem(56px)});
    line-height: var(--heading-line-height, 1.25);
  }

  h3 {
    color: var(--heading-color, var(--umkc-blue));
    margin: var(--heading-margin, 1.5rem 0 0);
    font-size: var(--heading-size, #{mx.px-to-rem(36px)});
  }
}
.icl {
	a {
		text-decoration: none;
	}
	.flex-wrapper {
		@include fx.flex-container(flex-start, flex-start);
	}
	.flex-wrapper-centered {
		@include fx.flex-container(space-between,flex-start);
	}
	.flex-basis-30 {
		@include fx.flex-basis(30%);
	}
}
