@use "../01-abstracts/variables" as var;
@use "../01-abstracts/mixins" as mx;

// Popup-specific variables
$zindex: 999;
$umkc-light-gray: #B5B5B5;
$umkc-baby-blue: #E5EEF5;

// Generated Form Style Overrides
#form_page_1 {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.form_responses, .form_label {
    color: var(--umkc-navy);
}

// Input and Select fields complete override
.form_responses input, .form_responses select {
    outline: none;
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    //all: unset;

    &::placeholder {
        color: $umkc-light-gray;
        opacity: 1; /* Firefox */
     }

    &::-ms-input-placeholder { /* Edge 12 -18 */
        color: $umkc-light-gray;
    }
}
// Select field menu arrow fix for various browsers
.form_select .form_responses {
    position: relative;
    &::after {
      position: absolute;
      background: white;
      right: 16px;
      top: 1px;
      height: calc(100% - 2px);
      width: 16px;
      z-index: 1;
      padding: 0.65rem 0.5rem;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    }
   select {
      -webkit-appearance: none;
      display: block;
      width: 100%;
      // Remove dropdown indicator from Chrome
      &::-webkit-calendar-picker-indicator  {
        display: none !important;
      }
   }
}

// Input and Select fields styles
.form_responses input, .form_responses select {
    border: 1px solid $umkc-light-gray;
    border-radius: 5px;
    background: var(--white);
    width: 100%;
}

.form_button_submit {
    font-family: var(--os);
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
	background-color: var(--umkc-yellow);
	color: var(--umkc-dark-blue);
	border: 0;
    border-radius: 0.5rem;
    padding: 0.75rem 4rem;

    @include mx.tr;

    &:hover {
        background-color: var(--umkc-dark-blue);
        color: var(--white);
        @include mx.tr;
    }
}

@media screen and (min-width: 1201px) {
    div.action.form_action {
        text-align: right;
    }
}

// Get Info Button and Form styles
#getInfoButton {
   position: fixed;
   bottom: 80px;
   right: 40px;
   z-index: $zindex;
   background: var(--umkc-yellow);
   padding: 1rem;
   border-radius: 100%;
   font-family: var(--os);
   text-decoration: none;
   color: var(--umkc-dark-blue);
   text-transform: uppercase;
   font-weight: bold;
    @include mx.tr;

    &:hover {
        transform: translate(0px, -1px);
        @include mx.tr;
    }
}
#getInfoForm {
    position: fixed;
    z-index: $zindex;
    bottom: 0px;
    width: 100%;
    padding: 1.25rem 2rem;
    background: $umkc-baby-blue;
}
#getInfoClose {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 3px;

    svg {
        fill: var(--umkc-navy);
        @include mx.tr;

        &:hover {
            fill: var(--umkc-dark-blue);
            @include mx.tr;
        }
    }
}

// Smokescreen for when popup is open
#getInfoFormScreen {
    &[aria-hidden="false"]{
      background: rgba(0,0,0,0.5);
      z-index: $zindex - 1;
      position: fixed;
      top:0; left:0; right:0; bottom: 0;
    }
  }

  // Info Form Grid Styles
  #getInfoForm {
    display: none;
    &[aria-hidden="false"]{
      display: grid;
    }
  }
#getInfoForm .wrapper {
   display: grid;
   grid-template-rows: 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   .form-wrapper {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 5;
    }

    .submit-wrapper {
        grid-row-start: 1;
        grid-column-start: 5;
        grid-row-end: 2;
        grid-column-end: 6;
        margin: auto; /* Vertically and Horizontally centers the content */
    }
}
// Info Form Styles
#getInfoForm .wrapper {

    h2 {
        color: var(--umkc-navy);
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .form-wrapper {
        border-right: 3px solid var(--umkc-navy);
        padding-right: 2rem;
    }

    .submit-wrapper .button--popup {
        font-family: var(--os);
        font-size: 1.25rem;
        text-transform: uppercase;
        text-align: center;
        color: var(--umkc-yellow);
        background: var(--umkc-dark-blue);
        margin: 1rem auto;
        display: block;
        width: 100%;

        &:hover {
            background: var(--umkc-dark-blue);
            color: var(--white);
        }
    }
}

@media screen and (max-width:1200px) {

    // Mobile Grid changes
    #getInfoForm .wrapper {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #getInfoForm .form_container {
        padding-bottom: 2em;
    }

    #getInfoForm .wrapper .form-wrapper {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;

        .form_button_submit {
            width: 100%;
        }
    }

    #getInfoForm .wrapper .submit-wrapper {
        display: grid;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 4;
        margin: 0;
        column-gap: 10px;
        align-items: normal;

        .button--popup {
            height: min-content;
            grid-column-start: 2;
            grid-column-end: 2;

            &:first-child {
                grid-column-start: 1;
                grid-column-end: 2;

            }
        }
    }

    #form_page_1 {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    // Mobile form specific field overrides
    /* Email Address full-width*/
    .form_question_01923e3d-497e-4e39-b4bd-1a8456c41ed8 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    /* Student Type */
    div.form_question_547b005a-4151-455d-a576-dc225453f5c9 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    /* Entry Term */
    .form_question_abae3e01-757b-4c18-8ee0-b9b46e26a735 {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    /* Major of Interest */
    .form_question_ad09e69a-55ac-4111-a247-47cda6df0079 {
        grid-column-start: 1;
        grid-column-end: 3;
    }


    // Mobile form submit button overrides
    #getInfoForm .form_action {
        width: 100%;
        text-align: center;

        .form_button_submit {
            margin-left: auto;
            margin: 0 auto;
        }
    }

    // Mobile Style changes
    #getInfoForm {
        padding: 1.25rem;
        max-height: 80vh;

        .wrapper {
            margin: 0;
            align-items: normal;

            .form-wrapper {
                border-right: 0px solid var(--umkc-dark-blue);
                padding-right: 0rem;
            }
        }
    }
    #getInfoButton {
        bottom: 100px;
        right: 20px;
    }
}
