@use "../01-abstracts/mixins" as mx;

.hero {
  --heading-color: var(--white);
  $self: &;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  display: flex;
  align-items: flex-end;
  height: var(--hero-height, #{mx.px-to-rem(500px)});
  @include mx.for-size("tablet-landscape-up") {
    --hero-title: #{mx.px-to-rem(60px)};
  }
  &__content {
    background-image: linear-gradient(0deg, rgb(0 0 0 / 75%) 0%, rgb(0 0 0 / 0%) 100%);
    width: 100%;
    position: relative;
    padding: var(--content-padding);
    color: var(--white);
    z-index: 0;

    p{
      @include mx.for-size("tablet-landscape-up"){
        max-width: 50vw;
      }
    }
  }

  &__title {
    text-shadow: 0.125rem 0.125rem 0.125rem rgb(0 0 0 / 25%);
    font-size: var(--hero-title, #{mx.px-to-rem(48px)});
  }
  &--standard{
    --hero-height: #{mx.px-to-rem(250px)};
    --hero-title: #{mx.px-to-rem(48px)} !important;
  }
  &--pfinder {
    --hero-height: #{mx.px-to-rem(550px)};
    #{$self}__title {
      --hero-title: #{mx.px-to-rem(42px)};
      font-family: var(--os);
    }
  }
  &--video {
    --hero-height: 690px;
    position: relative;
  }

  &__video {
    // actual code for the video HTML5 element, buttons, etc.
    display: none;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    flex-basis: 100%;

    @include mx.for-size("tablet-landscape-up") {
      display: block;
    }
  }

  &__buttons {
    position: absolute;
    display: none;
    right: 0.25rem;
    bottom: 0.5rem;
    @include mx.for-size("tablet-landscape-up") {
      bottom: var(--content-padding);
      right: var(--content-padding);

      &--visible{
        display: flex;
      }
    }
  }

  &__button {
    background: #4d4d4d;
    color: white;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.25rem;

    &--toggle {
      &[aria-expanded="false"] {
        #{$self}__icon {
          &:first-of-type{
            display: block;
          }
        }
      }
      &[aria-expanded="true"] {
        #{$self}__icon {
          &:last-of-type{
            display: block;
          }
        }
      }
    }
  }
  &__description {
    background: black;

    border-radius: 0.25rem;
    color: white;
    padding: 0.25rem 1rem 0;
    position: absolute;
    margin: var(--content-padding);
    opacity: 1;
    bottom: 0;
    visibility: visible;
    @include mx.tr(opacity);
    &[aria-hidden="true"] {
      opacity: 0;
      visibility: hidden;
    }

    @include mx.for-size("tablet-landscape-up") {
      margin: 0;
      bottom: 7rem;
      right: var(--content-padding);
      width: 550px;
    }
  }

  &__icon {
    height: mx.px-to-rem(28px);
    width:  mx.px-to-rem(28px);
    display: none;
    &--info {
      height:  mx.px-to-rem(24px);
      width:  mx.px-to-rem(24px);
      padding:  mx.px-to-rem(4px);
    }
    &--active {
      display: block;
    }
  }
  &__hp {
    background-image: none;
    background-color: var(--umkc-navy);
    display: block;
    height: auto;
    position: relative;

    #{$self}__content {
      padding: 0 0 1rem;
      background: none;
      @include mx.for-size("desktop-up"){
        padding-bottom: 0;
        z-index: 5;
      }
    }

    #{$self}__video-container {
      background: var(--white);
      margin: 0;
      position: relative;
      height: 200px;
      @include mx.for-size("tablet-portrait-up"){
        height: 375px;
      }
      @include mx.for-size("tablet-landscape-up"){
        height: 525px;
      }

      @include mx.for-size("desktop-up"){
        background: none;
        position: absolute;
        right: 0;
        top: 80px;
        z-index: 4;

      }
    }

    #{$self}__video {
      display: block;
      position: absolute;
      padding: 0 var(--global-padding);
      height: auto;
      width: 100%;
      top: -50px;
      bottom: 0;

      @include mx.for-size("desktop-up") {
        aspect-ratio: 184 / 141;
        position: static;
        height: auto;
        object-fit: cover;
        width: calc(100vw * 0.638);
        max-height: 600px;
        z-index: 2;
        padding: 0;
      }
      @include mx.for-size("big-desktop-up") {
        max-height: 725px;
      }
    }

    #{$self}__college {
      padding: 0 var(--global-padding);
      z-index: 10;
      height: auto;
      @include mx.for-size("tablet-portrait-up") {
        width: calc(100vw  * 0.411);
      }

      @include mx.for-size("desktop-up") {
        width: calc(100vw  * 0.55);
      }
    }
    #{$self}__subhead {
      font-family: var(--os);
      margin-bottom: 1rem;
      text-shadow: 2px 2px 4px rgba(0,0,0,0.65);
      @include mx.font-size(30px, 1.25);
      @include mx.for-size("tablet-portrait-up") {
        @include mx.font-size(60px, 1.25);
      }
      @include mx.for-size("big-desktop-up") {
        @include mx.font-size(72px, 1.25);
      }
    }
    #{$self}__text {
      padding: 1rem var(--global-padding) 5rem;
      @include mx.for-size("desktop-up") {
        width: calc(100vw * 0.48);
      }
      @include mx.for-size("big-desktop-up") {
        width: calc(100vw * 0.5);
      }
    }

    #{$self}__description {
      z-index: 5;
      @include mx.for-size("tablet-portrait-up") {
        bottom: 5rem;
        margin: 0 var(--global-padding);
        padding: 1rem;

      }
      @include mx.for-size("tablet-landscape-up") {
        bottom: 0;
        right: var(--global-padding);
      }
      @include mx.for-size("desktop-up") {
        top: 3.5rem;
        bottom: auto;
        right: 0;
      }
    }
    #{$self}__buttons {
      z-index: 5;
      display: none;
      @include mx.for-size("tablet-portrait-up") {
        display: block;
        bottom: 2rem;
        right: 2rem;
      }
      @include mx.for-size("tablet-landscape-up") {
        bottom: 2rem;
        right: 2rem;
      }
      @include mx.for-size("desktop-up") {
        top: 5.5rem;
        bottom: auto;
      }
    }
  }
}
.mask {
  height: var(--height, 37.5px);
  position: relative;
  overflow: hidden;
  @include mx.for-size("tablet-portrait-up"){
    height: var(--height, 62.5px);
  }
  @include mx.for-size("tablet-landscape-up"){
    height: var(--height, 125px);
  }
  @include mx.for-size("desktop-up"){
    height: var(--height, 150px);
  }
}
.mask span {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: var(--height, 37.5px);
  opacity: 0;
  @include mx.for-size("tablet-portrait-up"){
    top: var(--height, 62.5px);
  }
  @include mx.for-size("tablet-landscape-up"){
    top: var(--height, 125px);
  }
  @include mx.for-size("desktop-up"){
    top: var(--height, 150px);
  }
}
.mask span[data-show] {
  transform: translateY(-100%);
  transition: .5s transform ease-in-out, opacity .5s ease;
  opacity: 1;
}
.mask span[data-up] {
  transform: translateY(-200%);
  transition: .5s transform ease-in-out, opacity .5s ease;
  opacity: 0;
}
