@use "../01-abstracts/mixins" as mx;

.hero {
  $self: &;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-image: url("/src/images/hero__admissions.webp");
  display: flex;
  align-items: flex-end;
  height: var(--hero-height, #{mx.px-to-rem(500px)});
  @include mx.for-size("tablet-landscape-up") {
    background-image: url("/src/images/hero__admissions.webp");
    --hero-title: #{mx.px-to-rem(60px)};
  }
  &__content {
    background-image: linear-gradient(0deg, rgb(0 0 0 / 75%) 0%, rgb(0 0 0 / 0%) 100%);
    width: 100%;
    position: relative;
    padding: var(--content-padding);
    color: var(--white);
    z-index: 0;
  }

  &__title {
    text-shadow: 0.125rem 0.125rem 0.125rem rgb(0 0 0 / 25%);
    font-size: var(--hero-title, #{mx.px-to-rem(48px)});
  }
  &--standard{
    --hero-height: #{mx.px-to-rem(250px)};
    --hero-title: #{mx.px-to-rem(48px)} !important;
  }

  &--video {
    position: relative;
  }

  &__video {
    // actual code for the video HTML5 element, buttons, etc.
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
  }
}
