button > *,
a > * {
  pointer-events: none;
}

.social {
  --icon-size: var(--social-icon, 4rem);
  &__link {
    color: var(--white);

    &:hover,
    &:focus {
      color: var(--umkc-yellow);
    }
  }

  &__icon {
    height: var(--icon-size);
    width:  var(--icon-size);
  }
}
