@use "../01-abstracts/mixins" as mx;

.logo {
  &--link {
    display: inline-block;
  }

  &--image {
    // Height of the "U" is approximately 60px; Padding around logo needs to be 30px
    color: var(--logo-color);
    height: var(--logo-height);
    width: calc(var(--logo-height) * var(--logo-ratio));

    @include mx.for-size("tablet-landscape-up") {
      padding-right: mx.px-to-rem(30px);
    }
  }
}
