@use "../01-abstracts/mixins" as mx;

.nav {
  &--inline {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
  &--resource {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;

    @include mx.for-size("tablet-landscape-up") {
      flex-flow: row;
    }
    li {
      flex-basis: calc(100% / 3);
      padding: 0.5rem 1rem;
    }

    .button {
      display: block;
      text-align: center;
    }
  }
}
