.pagination{
  &__list{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 0.75rem 0.25rem;
    margin: 1.5rem 0;
    padding: 0;
    list-style: none;
  }
  &__item{
    margin: 0;
    padding: 0;
  }
  &__link{
    color: var(--umkc-blue);
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.5rem 0.5rem;
    &:hover, &:focus, &:active {
      background: var(--umkc-yellow);
      font-weight: 700;
    }
    &.active{
      background: var(--umkc-blue);
      color: var(--white);
      font-weight: 700;
    }
  }
}
