@use "../01-abstracts/variables" as var;
@use "../01-abstracts/mixins" as mx;

// Simple breakpoint media query. Uses basic sizes to determin the upper limit and useful names to
// determine the upper boundary.
@mixin for-size($range) {
    $phone-upper-boundary: 600px !default;
    $tablet-portrait-upper-boundary: 900px !default;
    $tablet-landscape-upper-boundary: 1200px !default;
    $desktop-upper-boundary: 1800px !default;
  
    @if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
    } @else if $range == desktop-down {
      @media (max-width: $tablet-landscape-upper-boundary) { @content; }
    } @else if $range == tablet-down {
        @media (max-width: $tablet-portrait-upper-boundary) { @content; }
      }
        @else {
      @warn "You selected a MQ size that doesn't exist. Try again.";
    }
  }

$filter-gray: #707070;

// Nav
.pfinder-nav {
    .more-info-nav {
        display: none;
    }
    &.sticky-nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        //@TODO find proper z-index
        z-index: 999;

        .more-info-nav {
            display: list-item;
        }
    }

    @media screen and (min-width: 1200px) {
        ul.main-navigation__list {
            justify-content: start;

            li {
                --link-margin: 2rem;
            }
        }
    }
}

// Header
.hero--pfinder {
    h1 {
        text-transform: uppercase;
    }
}

.pfinder {

    &__more-info {
        background-color: var(--umkc-lighter-blue);
        //@TODO Determine max-width in v2 (using padding here for style approvals
        padding: 2rem;
        margin-bottom: 2rem;

        &.sticky-area {
            position: fixed;
            top:2rem;
            left:0;
            right:0;
            //@TODO Find proper z-index
            z-index: 998;
        }

        h3 {
            font-family: var(--os);
            font-weight: bold;
            font-size: 24px;
            text-transform: uppercase;
            color: var(--font-color);
        }
        form#requestMoreInfo {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 30px;

            @include for-size(tablet-down){
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr;
                grid-column-gap: 30px;
                grid-row-gap: 30px;
            }

            .input-wrapper {
                label {
                    display: block;
                    font-weight: bold;
                    font-size: 13px;
                    margin-bottom: 0.25rem;
                }
                input, button {
                    width: 100%;
                }
                
                &.submit-button {
                    align-self: end;
                }
            }
            .text-message-choice-wrapper {
                @include for-size(tablet-down){
                    grid-column: 1/4;
                }
                label {
                    display: inline;
                }
                input[type="radio"] {
                    display: inline;
                    width: 20px;
                }
                br {
                    clear:both;
                }
            }
        }
    }
    &__program-information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        @include for-size(tablet-down){
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 2fr;
        }
    
        .overview {
            font-size: 24px;
            @include for-size(tablet-down){
                order: 2;
            }
        }
    
        .highlights {
            @include for-size(tablet-down){
                order: 1;
            }
            ul {
                list-style: none;
                margin-bottom: 3rem;
    
                li {
                    font-size: 18px;
                    margin-bottom: 2rem;
    
                    .icon {
                        display: inline;
                        svg {
                            --icon-size: 1.8125rem;
                            height: var(--icon-size);
                            width: var(--icon-size);
                            color: var(--font-color);
                        }
                    }
                    &.disclaimer {
                        padding: 2rem;
                        font-size: 16px;
                    }
                }
            }
        }
        
    }
}

// After Graduation

.content-row.after-grad {
        background-color: var(--umkc-lighter-blue);
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 20px 20px; 
        grid-template-areas: 
            "a b"
            "c d"; 
        
        @include for-size('desktop-down'){
            gap: 10px 10px;
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr; 
            grid-template-areas: 
            "b"
            "a"
            "c"
            "d";
        }
    
        .disclaimer {
            font-size: 16px;
        }

    .after-grad_copy {
        grid-area: a;
        ul {
            list-style: circle;
            padding-left: 0px;
            margin-left: 0px;
            margin-bottom: 1rem;
            p { font-weight: bold; }
            li { list-style-position: inside; }
        }
        .disclaimer {}
    }

    .after-grad_image {
        grid-area: b;

        img {
            margin:0 auto;
            display: block;
            width: 100%;
        }
    }

    .after-grad_stats {
        grid-area: d;

        .after-grad_stats-wrapper {
            grid-column: 2/-1;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 2rem;
    
            div {
                text-align: center;
                display: block;
                margin:0 auto;
                p {
                    font-weight: bold;
                    font-weight: 24px;
                    padding: 0rem;
                }
                p:first-child {
                    font-size: 56px;
                }
            }
        }
    }
}


//Explore Programs 

.eprog {
    .explore-programs {
        .search-area {
            background-color: var(--umkc-lighter-blue);
            padding: 0rem;
            margin-bottom: 2rem;
            display: grid;
            grid-template-columns: 40% 60%;
            column-gap: 60px;
            grid-template-rows: repeat(1, 1fr);
            

            @include for-size(desktop-down){
                grid-template-columns: 1fr;
                column-gap: 0px;
                grid-template-rows: repeat(2, 1fr);
            }

            //TODO Possibly turn this into a class
            @include for-size(desktop-down){
                position: fixed;
                top: 180px;
                left: 0;
                right: 0;
                bottom: 0;
                z-index:2;
            }

            h3 {
                font-size: 24px;
                font-weight: bold;
                font-family: var(--os);
                color: var(--font-color);
                text-transform: uppercase;
            }
            .search-wrapper {
                margin: 2rem;
                #searchByKeyword {
                    
                    .search-by-keyboard-wrapper {
                        display: flex;
                        border-radius: 6px;
                        //max-width: 800px;
                        margin: 0 auto;
                        margin-bottom: 2rem;
                        input[type="text"] {
                            width: 100%;
                            padding: 0.5rem 1rem;
                        }
                        .button {
                            padding: 0.5rem;
                            border-radius: 0 6px 6px 0px;
                            line-height: 1rem;
                            svg {
                                font-size: 1rem;
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
            .area-wrapper {
                margin: 2rem;
                padding-left: 2rem;
                border-left: 1px solid var(--font-color);
                @include for-size(desktop-down){
                    border-left: 0px;
                    padding-left: 0px;
                    overflow:scroll;
                }
                form#areaOfInterest {
                    .input-wrapper {
                        margin-bottom: 1rem;
                        input[type="checkbox"]{}
                        label {}
                    }
                }
            }
        }
        .results-and-filter {
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: repeat(1, 1fr);

            @include for-size(desktop-down){
                display: grid;
                grid-template-columns: repeat(1, 1fr); //Changed columns
                grid-template-rows: repeat(1, 1fr); //Changed rows
            }
            
            
            .filter, .results {
                padding: 1rem;
                @include for-size(desktop-down){
                    padding: 0rem;
                }
            }
            .filter {
                background: var(--umkc-lighter-blue);
                padding-left: 2rem;
                // @include for-size(desktop-down){
                //     position: fixed;
                //     top: 180px;
                //     left: 0;
                //     right: 0;
                //     bottom: 0;
                //     z-index:2;
                // }
                h4 {
                    font-size: 24px;
                    font-weight: bold;
                    font-family: var(--os);
                    color: var(--font-color);
                    text-transform: uppercase;
                }
                h5 {
                    font-size: 16px;
                    font-weight: bold;
                    color: $filter-gray;
                }

                .filter-input-wrapper {
                    display: block;
                    margin-bottom: 1rem;

                    input {}
                    select {
                        width: 100%;
                    }
                }
            }
            .results {

                // Not currently used on mobile
                .results-top-bar {
                    display: grid;
                    grid-template-columns: 90% 10%;
                    grid-template-rows: repeat(auto-fill, 1fr);
                    margin-bottom: 2rem;

                    @include for-size(desktop-down){
                        grid-template-columns: repeat(1, 1fr); //changed
                        grid-template-rows: repeat(1, 1fr); // changed
                    }

                    .results-filter-tabs {
                        display: flex;
                        gap: 15px;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;

                        .results-filter-tabs_title, .results-filter-tabs_tab {
                            text-transform: uppercase;
                            display: block;
                            flex-basis: auto;
                            align-self: center;
                            padding: 0.75rem 1rem;
                        }
                        .results-filter-tabs_title {
                            font-family: var(--os);
                            font-size: 24px;
                            font-weight: bold;
                            color: var(--font-color);
                        }
                        .results-filter-tabs_tab {
                            background-color: var(--umkc-blue);
                            color: var(--white);
                        }
                    }

                    .results-display {
                        display: flex;
                        gap: 15px;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        align-items: center;

                        button {
                            display: block;
                            padding: 0;
                            border-radius: 0;
                            background-color: transparent;
                            svg {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
                // Results Grid
                .results-grid {
                    ul.results-grid-wrapper {
                        display: flex;
                        gap: 20px;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: normal;
                        align-items: normal;
                        align-content: normal;
                        margin-left: 0;

                        
                        li.results-program {
                            display: block;
                            flex-basis: auto;
                            align-self: auto;
                            @include for-size(tablet-down){
                                width: 100%;
                                justify-content: center;
                            }
                            .results-program_image {
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                //@TODO: Determine proper sizing for these images
                                min-height:200px;

                                display: flex;
                                gap: 20px;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                justify-content: flex-end;
                                align-items: normal;
                                align-content: normal;
                                text-align: right;
                                margin-bottom: 1.5rem;
                                
                                .results-program_button {
                                    margin: 5px;
                                    padding: 10px;
                                    border-radius: 50%;
                                    color: white;
                                    width: 20px;
                                    height: 20px;

                                    //@TODO Add real Colors and implement icons
                                    background: red;
                                    &:nth-child(2) {
                                        background: blue;
                                    }
                                    &:nth-child(3) {
                                        background: yellow;
                                    }
                                }
                            }
                            .results-program_title-type {
                                font-size: 16px;
                                font-weight: bold;
                                color: var(--umkc-dark-blue);
                            }
                            .results-program_title {
                                font-family: var(--os);
                                font-size: 24px;
                                font-weight: 600;
                                text-transform: uppercase;
                                color: var(--umkc-blue);
                                margin: 0.25rem auto 0.5rem auto;
                            }
                            ul.results-program_interest-list {
                                margin-bottom: 3rem;
                                li {}
                            }
                            .results-program_footer {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                grid-template-rows: repeat(1, 1fr);
                                .results-program_footer-view-program {
                                    a {}
                                }
                                .results-program_footer-compare {
                                    #addToCompare {
                                        input[type="checkbox"] {}
                                        label {}
                                    }
                                }
                            }
                        }
                    }
                }
                // Attempting to use the exact same HTML that the grid view uses, but change out the classes using javascript
                // Results List
                .results-grid.results-list {
                    ul.results-grid-wrapper {
                        flex-direction: column; //Changed to column
                        li.results-program {
                            display: flex;
                            flex-direction: column;
                            padding: 2rem;
                            background-color: #f6f6f6;

                            &:nth-child(even){
                                background-color: white;
                            }

                            .results-program_image {
                                background-size: 0%; // Background-size to zero                                
                                min-height:0px;
                                max-height:0px;
                                order: 3;
                                justify-content: flex-start; //changed to flex-start
                                margin-bottom: 2.5rem; // Increased margin
                            }
                            .results-program_title-type {
                                order: 1; // Changed flexbox order
                            }
                            .results-program_title {
                                margin: 0.25rem 0 0.25rem 0;
                                order: 2; // Changed flexbox order
                                text-align: left; // text alignment
                            }
                            ul.results-program_interest-list { display: none; }
                            .results-program_footer {
                                // order: 4; If the grid footer needs to be added to the list view, can be configured here.
                                //display: grid;
                                display: none;
                                .results-program_footer-view-program {
                                    display: none;
                                    a {}
                                }
                                .results-program_footer-compare {
                                    #addToCompare {
                                        input[type="checkbox"] {}
                                        label {}
                                    }
                                }
                            }
                        }
                    }
                } 
            }
        }
    }
}

// Compare Programs Flyout Elements

.compare-tab {
    position: fixed;
    right: -6rem;
    top: 60vh;
    background: var(--umkc-yellow);
    font-weight: bold;
    cursor: pointer;
    transform: rotate(-90deg);
    padding: 1rem 2rem;
    z-index:3;

    @include for-size(desktop-down){
        display: none;
    }
    
    transition: 0.1s ease background-color;
    
    &:hover {
        background-color: var(--umkc-dark-blue);
        right: -5rem;
        transition: 0.1s ease background-color;
        transition: 0.1s ease right;
        p {
            color: var(--umkc-yellow);
            transition: 0.1s ease color;
        }
    }
    &.compare-tab-open {
        display: none;
    }
    p {
        color: var(--umkc-dark-blue);
        transition: 0.1s ease color;

        span#comparedMajors {}
    }
}
.smokescreen {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.5);
    z-index: 9997;
    display: none;

    &.smokescreen-shown {
        display: block !important;
    }
}
.compare-flyout {
    background: var(--umkc-lighter-blue);
    padding: 3rem;
    //margin: 5rem;
    position: fixed;
    top: 0rem;
    //left:0;
    right:0;
    bottom:0;
    //@TODO z-index appropriateness
    z-index: 2;
    display: none;

    &[aria-hidden="false"] {
        display: block;
        
    }
    &[aria-hidden="true"] {
        display: none;
        
    }

    h3 {
        font-family: var(--os);
        font-size: 24px;
        font-weight: bold;
        color: var(--font-color);
        text-transform: uppercase;
        margin: 0 0 2rem;
    }
    a.compare-flyout__close {
        text-align: right;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;

        svg {
            width: 2rem;
            height: 2rem;
            fill: var(--umkc-blue);
            transition: 0.1s ease fill;
        }

        &:hover {
            svg {
                fill: var(--umkc-dark-blue);
                transition: 0.1s ease fill;
            }
        }
    }
    .compare-flyout-list {
        overflow: scroll;
        ul.compare-flyout-list-wrapper {
            display: flex;
            gap: 20px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: normal;
            align-items: normal;
            align-content: normal;
            list-style: none;
            li.compare-flyout-program {
                display: block;
                flex-basis: auto;
                align-self: auto;
                background: var(--white);
                .compare-flyout-program_image {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    //@TODO: Determine proper sizing for these images
                    min-height:200px;

                    display: flex;
                    gap: 20px;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-items: normal;
                    align-content: normal;
                    text-align: right;
                    margin-bottom: 1.5rem;
                    
                    .compare-flyout-program_button {
                        margin: 5px;
                        padding: 10px;
                        border-radius: 50%;
                        color: white;
                        width: 20px;
                        height: 20px;

                        //@TODO Add real Colors and implement icons
                        background: red;
                        &:nth-child(2) {
                            background: blue;
                        }
                        &:nth-child(3) {
                            background: yellow;
                        }
                    }
                }
                .compare-flyout-program_text {
                    margin: 1.5rem;
                }
                .compare-flyout-program_title-type {
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--umkc-dark-blue);
                }
                .compare-flyout-program_title {
                    font-family: var(--os);
                    font-size: 24px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: var(--umkc-blue);
                    margin: 0.25rem auto 0.5rem auto;
                }
                ul.compare-flyout-program_interest-list {
                    margin-bottom: 3rem;
                    li {}
                }
                .compare-flyout-program_footer {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    .compare-flyout-program_footer-view-program {
                        a {}
                    }
                    .compare-flyout-program_footer-compare {
                        #addToCompare {
                            input[type="checkbox"] {}
                            label {}
                        }
                    }
                }
            }
        }
    }    
}


// Program Finder Learn More Nav Element
.more-info-row__hidden {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    display: none;
    height: 0px;

    transition: 1s ease height;
}
.more-info-row__shown {
    z-index: 998;
    display: block;
    height: auto;

    transition: 1s ease height;
}


// 4 Different "Screens" on the Search/Results page
// The are some lazy fill-ins until further planning




@media screen and (max-width: 1200px) {
    // Toggles
    #search-toggle[aria-hidden="true"] {
        display: none;
    }
    #filter-toggle[aria-hidden="true"] {
        display: none;
    }
    #compare-toggle[aria-hidden="true"] {
        display: none;
    }
    #resultsTopBar { display: none; }
}
