@use "../01-abstracts/variables" as var;
@use "../01-abstracts/mixins" as mx;

// Simple breakpoint media query. Uses basic sizes to determin the upper limit and useful names to
// determine the upper boundary.
@mixin for-size($range) {
    $phone-upper-boundary: 600px !default;
    $tablet-portrait-upper-boundary: 900px !default;
    $tablet-landscape-upper-boundary: 1200px !default;
    $desktop-upper-boundary: 1800px !default;

    @if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
    } @else if $range == desktop-down {
      @media (max-width: $tablet-landscape-upper-boundary) { @content; }
    } @else if $range == tablet-down {
        @media (max-width: $tablet-portrait-upper-boundary) { @content; }
      }
        @else {
      @warn "You selected a MQ size that doesn't exist. Try again.";
    }
  }

//Colors
$filter-gray: #707070;
$filter-light-blue: #7ACBF2;
$filter-yellow:#FFD52E;
$filter-dark-blue:#04487F;

//Sizing

@mixin pfinder-button {
    font-weight: bold;
    background-color: var(--umkc-yellow);
    padding: 0.75rem 2rem;
    text-decoration: none;
    @include pfinder-font(24px,--umkc-dark-blue);

    &:hover, &:active {
        background-color: var(--umkc-navy);
        color: var(--umkc-yellow);
        text-decoration: none;
    }
}
@mixin pfinder-button-secondary {
    font-weight: bold;
    background-color: var(--umkc-yellow);
    padding: 0.5rem 1.75rem;
    text-decoration: none;
    @include pfinder-font(16px,--umkc-dark-blue);

    &:hover, &:active {
        background-color: var(--umkc-navy);
        color: var(--umkc-yellow);
        text-decoration: none;
    }
}

$pad: 6rem;
$pad2: 4rem;
$pad3: 2rem;
@mixin pfinder-margins {
    margin: 0 auto;
    @include mx.for-size(phone-only){
        // max-width: 500px;
        padding-left: $pad3;
        padding-right: $pad3;
    };
    @include mx.for-size(tablet-portrait-up){
        // max-width: 600px;
        padding-left: $pad3;
        padding-right: $pad3;
    };
    @include mx.for-size(tablet-landscape-up){
        // max-width: 1000px;
        padding-left: $pad2;
        padding-right: $pad2;
    };
    @include mx.for-size(desktop-up){
        // max-width: 1200px;
        padding-left: $pad2;
        padding-right: $pad2;
    };
    @include mx.for-size(big-desktop-up){
        // max-width: 1600px;
        padding-left: $pad;
        padding-right: $pad;
    };
}

@mixin pfinder-font($s, $c){
    color: var($c);
    font-family: var(--os);
    font-size: $s;
    text-transform: uppercase;
}

// Nav
// .main-navigation.pfinder-navigation { // Removed this after Greg's renaming edits
// @TODO: Place this code properly in the navigation SCSS file
// .main-navigation.main-navigation--pfinder {
//     background-color: var(--umkc-lighter-blue) !important; //@TODO Destroy these disgusting !important tags by incorporating the code properly into nav.scss
//     border-top: 0px solid transparent;
//     // display: none;
//
//     @include mx.for-size("desktop-up"){
//         background-color: var(--umkc-blue) !important; //@TODO Destroy these disgusting !important tags by incorporating the code properly into nav.scss
//         display: none;
//     }
//     & .main-navigation__list {
//         align-content: flex-start;
//         flex-flow: column;
//         width: 100%;
//
//         @include mx.for-size("desktop-up"){
//             justify-content: flex-start;
//             flex-flow: row;
//         }
//
//     }
//     & .main-navigation__item {
//         background-color: none;
//         border-bottom: 1px solid var(--white);
//         width: 100%;
//         padding: 1.5rem 3rem;
//
//         @include mx.for-size("desktop-up"){
//             width: auto;
//             border-bottom: 0px solid transparent;
//             padding: 0.5rem var(--link-margin, 1.5rem);
//         }
//     }
//     & .main-navigation__link {
//         @include pfinder-font(22px,--umkc-dark-blue);
//
//         @include mx.for-size("desktop-up"){
//             color: var(--white);
//             text-transform: none;
//             font-weight: 400;
//
//         }
//
//         &:active, &.active {
//             text-decoration: underline;
//             text-underline-offset: 5px;
//         }
//         &:hover {
//             text-decoration: underline;
//             text-underline-offset: 10px;
//             text-decoration-thickness: 3px;
//         }
//     }
//     & .pfinder__request-more-info {
//         background: var(--umkc-yellow);
//         padding: 1rem;
//         position:absolute;
//         top: auto;
//         bottom:0;
//         left:0;
//         right:0;
//
//         @include mx.for-size("desktop-up"){
//             background: transparent;
//             top: -16px;
//             right: 20px;
//             bottom: auto;
//             left: auto;
//         }
//
//         &:hover, &:focus {
//             background-color: inherit;
//         }
//     }
//     & .pfinder__request-more-info-button {
//         margin: 0 auto;
//         font-size: 28px;
//         @include mx.for-size("desktop-up"){
//             @include pfinder-button();
//             border-top-left-radius: 0;
//             border-top-right-radius: 0;
//         }
//     }
//
//     &.sticky-nav {
//         display: flex;
//         position: fixed;
//         z-index: 2;
//
//         top: 0;
//
//         @include mx.for-size("desktop-up"){
//             top: 0;
//             left: 0;
//             right: 0;
//             bottom: auto;
//         }
//
//         .main-navigation__item {
//             flex: 0;
//             @include mx.for-size("desktop-up"){
//                 flex: none;
//             }
//         }
//     }
// }

// Mobile Nav
.menu.pfinder-mobile-menu {
    background-color: var(--umkc-dark-blue);
    border-top: 0px solid transparent;

    .menu__list {
        justify-content: flex-start;
    }
    .menu__item {
        background: transparent;
    }
    .menu__item-menu-label span {
        @include pfinder-font(22px,--white);
    }
    .menu__link {
        background: transparent;
        color: var(--white);

        &:hover, &:active, &:focus {
            background: transparent;
            color: var(--white);
        }
    }
    .menu__icon {}
}

// Request More Info Dropdown
//@TODO Figure out why Javascript is throwing this error when using toggles
//toggles.js:22 Uncaught TypeError: Cannot read properties of null (reading 'querySelectorAll')
//at closeOpenToggles (toggles.js:22:31)
//at HTMLButtonElement.<anonymous> (toggles.js:9:7)

//Update 10/30 - Added a simple JS function to activate the REQUEST MORE INFO button.  The button is located in program-finder-v2-navigation, as is the hidden REQUEST MORE INFO row and form.  This ideally should be changed to use #data-toggle in the future.
.pfinder__more-info {
    display: block;
}
.more-info-row-hidden {
    display: none;
}
.sticky-form {
    top: 4rem;
    left:0;
    right:0;
    position: fixed;
    z-index: 2;
}

.pf-request_info {
  &__wrapper {
    @include mx.for-size("desktop-up") {
      max-width: 85vw;
      margin: 0 auto;
    }
  }
  &__title {
    --heading-color: var(--umkc-dark-blue);
    --heading-size: #{mx.px-to-rem(24px)};
    --heading-margin:0 0 2rem;
    font-family: var(--os);
    text-transform: uppercase;
  }
  form {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;

      @include mx.for-size(desktop-up){
          // grid-template-columns: repeat(1, 1fr);
          grid-template-columns: 80% 20%;
          grid-template-rows: repeat(1, 1fr);
      }

      #form_start {
          display: none;
      }
      .form_action {
          text-align: center;
          padding-top:0px;

          @include mx.for-size(desktop-up){
              padding-top: 25%;
          }
      }
      #form_page_1 {
          display: grid;
          gap: 10px;
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 1fr;
          @include mx.for-size(desktop-up){
              grid-template-rows: 1fr 1fr;
              grid-template-columns: 1fr 1fr 1fr;
          }

          label {
              display: block;
              font-weight: bold;
              font-size: 13px;
              margin-bottom: 0.25rem;
          }
      }

      .input-wrapper {
          label {
              display: block;
              font-weight: bold;
              font-size: 13px;
              margin-bottom: 0.25rem;
          }
          input, button {
              width: 100%;
          }

          &.submit-button {
              align-self: end;

              button {
                  @include pfinder-button;
              }
          }
      }
      .text-message-choice-wrapper {
          @include for-size(tablet-down){
              grid-column: 1/4;
          }
          label {
              display: inline;
          }
          input[type="radio"] {
              display: inline;
              width: 20px;
          }
          br {
              clear:both;
          }
      }
  }
}


.overview {
    padding: var(--content-padding);
    display: flex;
    flex-flow: column;
    margin: auto;
    @include mx.for-size(desktop-up){
      max-width: 85vw;
      gap: mx.px-to-rem(80px);
      flex-flow: row;
      padding: var(--content-padding) 0;
    }

    &__content {
      @include mx.font-size(20px, 1.25);
      order: 2;
      margin-bottom: 2rem;

      @include mx.for-size(desktop-up){
        @include mx.font-size(24px, 1.25);
        order: 1;
        margin-bottom: 0;
        flex: 0 calc(60% - 40px);
      }
    }

    &__highlights {
      order: 1;
      @include mx.font-size(18px);
      @include mx.for-size(desktop-up){
          order: 2;
          flex: 0 1  calc(40% - 40px);
      }

      strong {
        text-transform: uppercase;
      }

    }
    &__list {
      list-style: none;
      margin-bottom: 0rem;
      margin-left:0;
      padding:0;
      padding-left:0;
    }
    &__item {
      display: flex;

      margin-bottom: 1.5rem;

      &--disclaimer {
        padding: 1rem 0;
        font-size: 16px;
      }
    }
  .icon {
    --icon-size: #{mx.px-to-rem(24px)};
    margin-right: 0.675rem;
    height: var(--icon-size);
    width: var(--icon-size);
    color: var(--umkc-blue);
  }
}

// After Graduation
.after-grad {
  padding: var(--content-padding);
  @include mx.for-size("desktop-up"){
    display: flex;
    max-width: 85vw;
    margin: 0 auto;
    gap: mx.px-to-rem(48px);
    padding: var(--content) 0;
  }

  .disclaimer {
    font-size: 16px;
    flex-basis: 100%;
  }
  &__copy {
    flex: 1 0;
    h3 {
      --heading-margin: 0;
      --heading-color: var(--font-color);
      @include mx.font-size(20px);
    }
    ul {
      @include mx.font-size(20px);
      padding: 0.5rem 0;
    }
  }
  &__stats {
    flex: 0 1 mx.px-to-rem(448px);
  }

  &__image {
    display: block;
    margin: 1rem auto;
  }

  &__items {
    display: flex;
    gap: 2rem;
    flex-flow: column;
    @include mx.for-size("desktop-up"){
      flex-flow: row;
      flex-flow: wrap;
    }
  }
  &__item {
    font-weight: bold;
    flex-basis: calc(50% - 1rem);
  }
  &__title {
    @include mx.font-size(48px, 1.5);
    color: var(--umkc-blue);

  }
  &__content {
    @include mx.font-size(24px);
  }
}

//Explore Programs
.pf-search {
  $self: &;
  display: flex;
  gap: 2.5rem;
  @include for-size("desktop-up") {
    max-width: 85vw;
    margin: 0 auto;
  }

  &__title{
    --heading-size: #{mx.px-to-rem(24px)};
    --heading-color: var(--font-color);
    --heading-margin: 0 0 #{mx.px-to-rem(25px)};
    font-family: var(--os);
    text-transform: uppercase;
  }
  &__form {
    padding: 2rem 1rem;
    @include mx.for-size("tablet-landscape-up"){
      flex: 1 0 35%;
    }
    @include mx.for-size("desktop-up"){
      flex: 1 0 30%;
    }

  }
  &__view-all{
    margin-top: 2rem;
  }

  &__interests{
    border-left: 1px solid var(--font-color);
    padding: 2rem;
    #{$self}__title{}
  }

  .icon {
    height: 24px;
    width: 24px;
    color: var(--umkc-blue);
  }
  // Instant Search classes
  .ais-SearchBox{
    &-form{
      display: flex;
      justify-items: flex-end;
    }
    &-input{
      height: 42px;
      margin:0;
      width: 100%;
      border-radius: 10px;
    }
    &-submit{
      background: var(--umkc-yellow);
      appearance: none;
      height: 42px;
      border: solid 1px var(--umkc-yellow);
      border-radius: 0 10px 10px 0;
      margin-left:-38px;
    }
    &-reset{}
    &-loadingIndicator{}
  }

  // Instant Search Classes
  .ais-RefinementList{
    &-list{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding:0;
      gap: 1rem;
      justify-content: flex-start;
      align-items: center;
    }
    &-item{
      padding: 0;
      flex-basis: calc( ( 100% / 3) - 1rem);
      label {
        display: flex;
        align-items: center;
      }
      input[type="checkbox"]{
        margin-right: 1rem;
        flex: none;
      }
    }
  }
}




// Compare Programs Flyout Elements

.compare-tab {
    position: fixed;
    right: -6rem;
    top: 60vh;
    background: var(--umkc-yellow);
    font-weight: bold;
    cursor: pointer;
    transform: rotate(-90deg);
    padding: 1rem 2rem;
    z-index:3;

    @include for-size(desktop-down){
        display: none;
    }

    transition: 0.1s ease background-color;

    &:hover {
        background-color: var(--umkc-dark-blue);
        right: -5rem;
        transition: 0.1s ease background-color;
        transition: 0.1s ease right;
        p {
            color: var(--umkc-yellow);
            transition: 0.1s ease color;
        }
    }
    &.compare-tab-open {
        display: none;
    }
    p {
        color: var(--umkc-dark-blue);
        transition: 0.1s ease color;

        span#comparedMajors {}
    }
}
.smokescreen {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.5);
    z-index: 9997;
    display: none;

    &.smokescreen-shown {
        display: block !important;
    }
}
.compare-flyout {
    background: var(--umkc-lighter-blue);
    padding: 3rem;
    //margin: 5rem;
    position: fixed;
    left: 0;
    top: 0rem;
    right:0;
    bottom:0;
    z-index: 2;
    display: none;

    &[aria-hidden="false"] {
        display: block;

    }
    &[aria-hidden="true"] {
        display: none;
    }


    //@TODO Make this section full-screen even on desktop re: Courtney's designs
    @include mx.for-size("desktop-up"){
        //left: auto;
    }

    h3 {
        font-weight: bold;
        margin: 0 0 2rem;
        @include pfinder-font(24px,--umkc-dark-blue);
    }

    //@TODO: Repair the compare flyout close button to match Courtney design 10/30
    a.compare-flyout__close {
        // text-align: right;
        // position: absolute;
        // top: 1.5rem;
        // right: 1.5rem;
        display: none;

        // svg {
        //     width: 2rem;
        //     height: 2rem;
        //     fill: var(--umkc-blue);
        //     transition: 0.1s ease fill;
        // }

        // &:hover {
        //     svg {
        //         fill: var(--umkc-dark-blue);
        //         transition: 0.1s ease fill;
        //     }
        // }
    }
    .compare-flyout-list {
        overflow: scroll;
        .compare-flyout-list-wrapper {
            display: flex;
            gap: 20px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: normal;
            align-content: normal;
            margin-left: 0; // Overrride base ul, li tag stylings
            padding: 0; // Overrride base ul, li tag stylings
            list-style: none;

            @include mx.for-size("desktop-up"){
                justify-content: normal;
            }
            // li.compare-flyout-program {
            li.results-program {
                display: block;
                flex-basis: auto;
                align-self: auto;
                background: var(--white);
                .results-program_image {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    //@TODO: Determine proper sizing for these images
                    min-height:200px;

                    display: flex;
                    gap: 0px;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-items: normal;
                    align-content: normal;
                    text-align: right;
                    margin-bottom: 1.5rem;

                    .results-program_button {
                        margin: 5px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 28px;
                        color: var(--white);
                        width: 30px;
                        height: 30px;
                        svg {
                            height: 20px;
                            width: 20px;
                        }
                    }
                    .results-program_button__remote {
                        background: $filter-light-blue;
                    }
                    .results-program_button__hybrid {
                        background: $filter-yellow;
                    }
                    .results-program_button__on-campus {
                        background: $filter-dark-blue;
                    }
                }
                .results-program_title-type {
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--umkc-dark-blue);
                }
                .results-program_title {

                    font-weight: 600;
                    margin: 0.5rem auto;
                    @include pfinder-font(24px,--umkc-blue);
                }
                .results-program_interest-list {
                    margin-bottom: 2rem;
                    li {}
                }
                .results-program_footer {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    .results-program_footer-view-program {
                        a {}
                    }
                    .results-program_footer-compare {
                        #addToCompare {
                            text-align: right;

                            input[type="checkbox"] {}
                            label {}
                        }
                    }
                }
                .compare-flyout-program_text {
                    margin: 1.5rem;
                }
                .compare-flyout-program_title-type {
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--umkc-dark-blue);
                }
                .compare-flyout-program_title {
                    font-weight: 600;
                    margin: 0.25rem auto 0.5rem auto;
                    @include pfinder-font(24px,--umkc-blue);
                }
                .compare-flyout-program_interest-list {
                    margin-bottom: 3rem;
                    li {}
                }
                .compare-flyout-program_footer {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    .compare-flyout-program_footer-view-program {
                        a {}
                    }
                    .compare-flyout-program_footer-compare {
                        #addToCompare {
                            input[type="checkbox"] {}
                            label {}
                        }
                    }
                }
            }
            li.results-program {
                display: block;
                flex-basis: auto;
                align-self: auto;
                background: var(--white);
                .results-program_image {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    //@TODO: Determine proper sizing for these images
                    min-height:200px;

                    display: flex;
                    gap: 0px;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-items: normal;
                    align-content: normal;
                    text-align: right;
                    margin-bottom: 1.5rem;

                    .results-program_button {
                        margin: 5px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 28px;
                        color: var(--white);
                        width: 30px;
                        height: 30px;
                        svg {
                            height: 20px;
                            width: 20px;
                        }
                    }
                    .results-program_button__remote {
                        background: $filter-light-blue;
                    }
                    .results-program_button__hybrid {
                        background: $filter-yellow;
                    }
                    .results-program_button__on-campus {
                        background: $filter-dark-blue;
                    }
                }
                .results-program_text-wrapper {
                    margin: 1.5rem;

                    .results-program_title-type {
                        font-size: 16px;
                        font-weight: bold;
                        color: var(--umkc-dark-blue);
                    }
                    .results-program_title {
                        font-weight: 600;
                        margin: 0.5rem auto;
                        @include pfinder-font(24px,--umkc-blue);
                    }
                    .results-program_interest-list {
                        margin-bottom: 2rem;
                        li {}
                    }
                    .results-program_footer {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(1, 1fr);
                        .results-program_footer-view-program {
                            a {}
                        }
                        .results-program_footer-compare {
                            #addToCompare {
                                text-align: right;

                                input[type="checkbox"] {}
                                label {}
                            }
                        }
                    }
                }
            }
        }
    }
}


// Program Finder Learn More Nav Element
// This should all be depreciated
// .more-info-row__hidden {
//     position: fixed;
//     top: 3rem;
//     left: 0;
//     right: 0;
//     overflow: hidden;
//     z-index: -1;
//     display: none;
//     height: 0px;

//     transition: 1s ease height;
// }
// .more-info-row__shown {
//     z-index: 998;
//     display: block;
//     height: auto;

//     transition: 1s ease height;
// }


// 4 Different "Screens" on the Search/Results page
// The are some lazy fill-ins until further planning


@media screen and (max-width: 1200px) {
    // Toggles
    #search-toggle[aria-hidden="true"] {
        display: none;
    }
    #search-toggle[aria-hidden="false"] {
        display: flex;
        position: fixed;
        top:0;left:0;right:0;bottom:0;
        z-index:2;

        .search-wrapper, .area-wrapper {
            margin:0;
        }
    }
    #filter-toggle[aria-hidden="true"] {
        display: none;
    }
    #filter-toggle[aria-hidden="false"] {
        display: flex;
        flex-direction: column;
        position: fixed;
        top:0;left:0;right:0;bottom:0;
        z-index:2;
    }
    #compare-toggle[aria-hidden="true"] {
        display: none;
    }
    #compare-toggle[aria-hidden="false"] {

    }
    #resultsTopBar { display: none; }
}


// Leftover code from my previous attempt to use #data-toggles on the more-info-row
// #more-info-row[aria-hidden="true"]{
//     display: none;
// }
// #more-info-row[aria-hidden="false"]{
//     display: grid;
// }
