@use "../01-abstracts/variables" as var;
@use "../01-abstracts/mixins" as mx;

// Simple breakpoint media query. Uses basic sizes to determin the upper limit and useful names to
// determine the upper boundary.
@mixin for-size($range) {
    $phone-upper-boundary: 600px !default;
    $tablet-portrait-upper-boundary: 900px !default;
    $tablet-landscape-upper-boundary: 1200px !default;
    $desktop-upper-boundary: 1800px !default;
  
    @if $range == phone-only {
      @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
    } @else if $range == desktop-down {
      @media (max-width: $tablet-landscape-upper-boundary) { @content; }
    } @else if $range == tablet-down {
        @media (max-width: $tablet-portrait-upper-boundary) { @content; }
      }
        @else {
      @warn "You selected a MQ size that doesn't exist. Try again.";
    }
  }

//Colors
$filter-gray: #707070;
$filter-light-blue: #7ACBF2;
$filter-yellow:#FFD52E;
$filter-dark-blue:#04487F;

//Sizing

@mixin pfinder-button {
    font-weight: bold;
    background-color: var(--umkc-yellow);
    padding: 0.75rem 2rem;
    text-decoration: none;
    @include pfinder-font(24px,--umkc-dark-blue);

    &:hover, &:active {
        background-color: var(--umkc-navy);
        color: var(--umkc-yellow); 
        text-decoration: none;
    }
}
@mixin pfinder-button-secondary {
    font-weight: bold;
    background-color: var(--umkc-yellow);
    padding: 0.5rem 1.75rem;
    text-decoration: none;
    @include pfinder-font(16px,--umkc-dark-blue);

    &:hover, &:active {
        background-color: var(--umkc-navy);
        color: var(--umkc-yellow); 
        text-decoration: none;
    }
}

@mixin pfinder-margins {
    margin: 0 auto;
    @include mx.for-size(phone-only){
        max-width: 500px;
    };
    @include mx.for-size(tablet-portrait-up){
        max-width: 600px;
    };
    @include mx.for-size(tablet-landscape-up){
        max-width: 1000px;
    };
    @include mx.for-size(desktop-up){
        max-width: 1200px;
    };
    @include mx.for-size(big-desktop-up){
        max-width: 1600px;
    };
}

@mixin pfinder-font($s, $c){
    color: var($c);
    font-family: var(--os);
    font-size: $s;
    text-transform: uppercase;
}

// Nav
// .main-navigation.pfinder-navigation { // Removed this after Greg's renaming edits
// @TODO: Place this code properly in the navigation SCSS file
.main-navigation.main-navigation--pfinder {
    background-color: var(--umkc-lighter-blue) !important; //@TODO Destroy these disgusting !important tags by incorporating the code properly into nav.scss
    border-top: 0px solid transparent;
    // display: none;

    @include mx.for-size("desktop-up"){
        background-color: var(--umkc-blue) !important; //@TODO Destroy these disgusting !important tags by incorporating the code properly into nav.scss
        display: none;
    }
    & .main-navigation__list {
        align-content: flex-start;
        flex-flow: column;
        width: 100%;
        
        @include mx.for-size("desktop-up"){
            justify-content: flex-start;
            flex-flow: row;
        }
        
    }
    & .main-navigation__item {
        background-color: none;
        border-bottom: 1px solid var(--white);
        width: 100%;
        padding: 1.5rem 3rem;

        @include mx.for-size("desktop-up"){
            width: auto;
            border-bottom: 0px solid transparent;
            padding: 0.5rem var(--link-margin, 1.5rem);
        }
    }
    & .main-navigation__link {
        @include pfinder-font(22px,--umkc-dark-blue);

        @include mx.for-size("desktop-up"){
            color: var(--white);
            text-transform: none;
            font-weight: 400;
            
        }

        &:active, &.active {
            text-decoration: underline;
            text-underline-offset: 5px;
        }
        &:hover {
            text-decoration: underline;
            text-underline-offset: 10px;            
            text-decoration-thickness: 3px;
        }
    }
    & .pfinder__request-more-info {
        background: var(--umkc-yellow);
        padding: 1rem;
        position:absolute;
        top: auto;
        bottom:0;
        left:0;
        right:0;

        @include mx.for-size("desktop-up"){
            background: transparent;
            top: -16px;
            right: 20px;
            bottom: auto;
            left: auto;
        }

        &:hover, &:focus {
            background-color: inherit;
        }
    }
    & .pfinder__request-more-info-button {
        margin: 0 auto;
        font-size: 28px;
        @include mx.for-size("desktop-up"){
            @include pfinder-button();
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }        
    }

    &.sticky-nav {
        display: flex;
        position: fixed;
        z-index: 2;

        top: 0;

        @include mx.for-size("desktop-up"){
            top: 0;
            left: 0;
            right: 0;
            bottom: auto;
        }
        
        .main-navigation__item {
            flex: 0;
            @include mx.for-size("desktop-up"){
                flex: none;
            }
        }
    }
}

// Mobile Nav
.menu.pfinder-mobile-menu {
    background-color: var(--umkc-dark-blue);
    border-top: 0px solid transparent;

    .menu__list {
        justify-content: flex-start;
    }
    .menu__item {
        background: transparent;
    }
    .menu__item-menu-label span {
        @include pfinder-font(22px,--white);
    }
    .menu__link {
        background: transparent;
        color: var(--white);

        &:hover, &:active, &:focus {
            background: transparent;
            color: var(--white);
        }
    }
    .menu__icon {}
}

// Header
.pfinder-primary-header.header--primary {
    background: linear-gradient(0deg, rgba(209,209,209,1) 0%, rgba(246,246,246,1) 100%);
    align-items: flex-start;

    a {
        font-weight: 600;
        @include pfinder-font(22px,--umkc-navy);

    }
}
.pfinder-secondary-header.header--secondary {
    background-color: var(--umkc-navy);
    border-bottom: 0px solid transparent;
    justify-content: flex-start;
}
.hero--pfinder {
    h1 {
        text-transform: uppercase;
    }
}

// Request More Info Dropdown
//@TODO Figure out why Javascript is throwing this error when using toggles
//toggles.js:22 Uncaught TypeError: Cannot read properties of null (reading 'querySelectorAll')
//at closeOpenToggles (toggles.js:22:31)
//at HTMLButtonElement.<anonymous> (toggles.js:9:7)

//Update 10/30 - Added a simple JS function to activate the REQUEST MORE INFO button.  The button is located in program-finder-v2-navigation, as is the hidden REQUEST MORE INFO row and form.  This ideally should be changed to use #data-toggle in the future.
.pfinder__more-info {
    display: block;
}
.more-info-row-hidden {
    display: none;
}
.sticky-form {
    top: 4rem;
    left:0;
    right:0;
    position: fixed;
    z-index: 2;
}



.pfinder {

    &__more-info {
        background-color: var(--umkc-lighter-blue);
        //@TODO Determine max-width in v2 (using padding here for style approvals
        padding: 2rem;

        h3 {
            font-weight: bold;

            @include pfinder-font(24px,--umkc-dark-blue);
            @include pfinder-margins;
            margin-bottom: 2rem;
        }
        // form {
        //     display: grid;
        //     grid-template-rows: 1fr 1fr 1fr 1fr;
        //     grid-template-columns: 1fr;
        //     grid-column-gap: 30px;
        //     grid-row-gap: 30px;

        //     @include mx.for-size(desktop-up){
        //         grid-template-columns: repeat(4, 1fr);
        //         grid-template-rows: repeat(2, 1fr);
        //     }
        //     @include pfinder-margins;

        //     .input-wrapper {
        //         label {
        //             display: block;
        //             font-weight: bold;
        //             font-size: 13px;
        //             margin-bottom: 0.25rem;
        //         }
        //         input, button {
        //             width: 100%;
        //         }
                
        //         &.submit-button {
        //             align-self: end;

        //             button {
        //                 @include pfinder-button;
        //             }
        //         }
        //     }
        //     .text-message-choice-wrapper {
        //         @include for-size(tablet-down){
        //             grid-column: 1/4;
        //         }
        //         label {
        //             display: inline;
        //         }
        //         input[type="radio"] {
        //             display: inline;
        //             width: 20px;
        //         }
        //         br {
        //             clear:both;
        //         }
        //     }
        // }
        form {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;

            @include mx.for-size(desktop-up){
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
            @include pfinder-margins;

            
            #form_page_1 {
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 10px;

                label {
                    display: block;
                    font-weight: bold;
                    font-size: 13px;
                    margin-bottom: 0.25rem;
                }
            }

            .input-wrapper {
                label {
                    display: block;
                    font-weight: bold;
                    font-size: 13px;
                    margin-bottom: 0.25rem;
                }
                input, button {
                    width: 100%;
                }
                
                &.submit-button {
                    align-self: end;

                    button {
                        @include pfinder-button;
                    }
                }
            }
            .text-message-choice-wrapper {
                @include for-size(tablet-down){
                    grid-column: 1/4;
                }
                label {
                    display: inline;
                }
                input[type="radio"] {
                    display: inline;
                    width: 20px;
                }
                br {
                    clear:both;
                }
            }
        }
    }
    &__program-information {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        @include pfinder-margins;
        margin: 4rem auto 0rem auto;

        @include mx.for-size(desktop-up){
            grid-template-columns: 60% 40%;
            grid-template-rows: 1fr;
        }
    
        .overview {
            font-size: 24px;
            order: 2;
            margin-bottom: 2rem;

            @include mx.for-size(desktop-up){
                order: 1;
                margin-bottom: 0;
            }
        }
    
        .highlights {
            order: 1;
            @include mx.for-size(desktop-up){
                order: 2;
            }
            ul {
                list-style: none;
                margin-bottom: 0rem;
    
                li {
                    font-size: 18px;
                    margin-bottom: 2rem;
    
                    .icon {
                        display: inline;
                        padding-right: 1rem;
                        svg {
                            --icon-size: 1.8125rem;
                            height: var(--icon-size);
                            width: var(--icon-size);
                            color: var(--umkc-blue);
                        }
                    }
                    strong {
                        text-transform: uppercase;
                    }
                    &.disclaimer {
                        padding: 2rem;
                        font-size: 16px;
                    }
                }
            }
        }
        
    }
}

// After Graduation

.after-grad {
        background-color: var(--umkc-lighter-blue);
        padding: 3rem;
    
        .disclaimer {
            font-size: 16px;
        }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 20px 20px; 
        grid-template-areas: 
            "a b"
            "a d"; 
        
        @include pfinder-margins;
        
        @include for-size('desktop-down'){
            gap: 10px 10px;
            grid-template-columns: 1fr; 
            grid-template-rows: 1fr; 
            grid-template-areas: 
            "b"
            "a"
            "c"
            "d";
        }
        .after-grad_copy {
            grid-area: a;
            ul {
                list-style: circle;
                padding-left: 0px;
                margin-left: 0px;
                margin-bottom: 1rem;
                p { font-weight: bold; }
                li { list-style-position: inside; }
            }
            .disclaimer {}
        }
    
        .after-grad_image {
            grid-area: b;
            align-self: center;
    
            img {
                margin:0 auto;
                display: block;
                width: 100%;
            }
        }
    
        .after-grad_stats {
            grid-area: d;
    
            .after-grad_stats-wrapper {
                grid-column: 2/-1;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 2rem;
        
                div {
                    text-align: center;
                    display: block;
                    margin:0 auto;
                    p {
                        font-weight: bold;
                        font-weight: 24px;
                        padding: 0rem;
                    }
                    p:first-child {
                        font-size: 56px;
                        color: var(--umkc-blue);
                    }
                }
            }
        }
    }
}


//Explore Programs 

.eprog {
    .explore-programs {
        .search-area {
            background-color: var(--umkc-lighter-blue);
            margin-bottom: 2rem;

            .search-area-wrapper {
                display: grid;
                grid-template-columns: 1fr;
                column-gap: 0px;
                grid-template-rows: repeat(3, 1fr);
                
                @include pfinder-margins;

                @include mx.for-size(desktop-up){
                    grid-template-columns: 1fr 1fr;
                    column-gap: 60px;
                    grid-template-rows: repeat(1, 1fr);
                }
                h3 {
                    @include pfinder-font(22px,--umkc-font-color);
                    margin-bottom: 2rem;
                }
                .search-wrapper {
                    margin: 2rem;
                    #searchByKeyword {
                        
                        .search-by-keyboard-wrapper {
                            display: flex;
                            border-radius: 6px;
                            margin: 0 auto;
                            margin-bottom: 2rem;
                            input[type="text"] {
                                width: 100%;
                                padding: 0.5rem 1rem;
                            }
                            .button {
                                padding: 0.5rem;
                                border-radius: 0 6px 6px 0px;
                                line-height: 1rem;
                                svg {
                                    font-size: 1rem;
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                    }
                }
                .area-wrapper {
                    margin: 2rem;
                    padding-left: 2rem;
                    border-left: 1px solid var(--font-color);
                    @include for-size(desktop-down){
                        border-left: 0px;
                        padding-left: 0px;
                        overflow:scroll;
                    }
                    form#areaOfInterest {
                        .input-wrapper {
                            margin-bottom: 1rem;
                            input[type="checkbox"]{}
                            label {}
                        }
                    }
                }
            }
        }
        .results-and-filter {
            display: grid;
            grid-template-columns: repeat(1, 1fr); //Changed columns
            grid-template-rows: repeat(1, 1fr); //Changed rows
            margin: 3rem auto;

            @include mx.for-size(desktop-up){
                grid-template-columns: 20% 80%;
                grid-template-rows: repeat(1, 1fr);
                margin: auto;
                
            }
            
            
            .filter, .results {
                padding: 1rem;
                @include for-size(desktop-down){
                    padding: 0rem;
                }
            }
            .filter {
                background: var(--umkc-lighter-blue);
                padding: 2rem 0rem 3rem 3rem;
                @include mx.for-size("desktop-up"){
                    max-height: fit-content;
                }
                h4 {
                    @include pfinder-font(24px,--umkc-font-color);
                    text-transform: uppercase;
                }
                h5 {
                    font-size: 16px;
                    font-weight: bold;
                    color: $filter-gray;
                    margin-bottom: 1rem;
                }

                .filter-input-wrapper {
                    display: block;
                    margin-bottom: 1rem;

                    input {}
                    select {
                        width: 90%;
                    }
                }
                button {
                    margin-bottom: 1rem;
                    @include pfinder-button-secondary;
                }
                .clear-filters {
                    .icon {
                        display: inline;
                    }
                    svg {
                        height: 16px;
                        width: 16px;
                    }
                }
            }
            .results {
                margin-bottom: 4rem;

                // @TODO: Not currently used on mobile
                .results-top-bar {
                    display: grid;
                    grid-template-columns: 90% 10%;
                    grid-template-rows: repeat(auto-fill, 1fr);
                    margin-bottom: 2rem;

                    .results-filter-tabs {
                        display: flex;
                        gap: 15px;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;

                        .results-filter-tabs_title, .results-filter-tabs_tab {
                            text-transform: uppercase;
                            display: block;
                            flex-basis: auto;
                            align-self: center;
                            padding: 0.75rem 1rem 0.75rem 1.25rem;
                        }
                        .results-filter-tabs_title {
                            font-weight: bold;
                            @include pfinder-font(24px,--umkc-font-color);

                        }
                        .results-filter-tabs_tab {
                            background-color: var(--umkc-blue);
                            color: var(--white);

                            &:hover, &:active {
                                background-color: var(--umkc-dark-blue);
                                @include mx.tr(background-color, 100ms);
                            }

                            .icon {
                                display: inline;
                                svg {
                                    height: 18px;
                                    width: 18px;
                                }
                            }
                        }
                    }


                    //Switch between Grid and List in Desktop mode
                    .results-display {
                        display: flex;
                        gap: 15px;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        align-items: center;

                        button {
                            display: block;
                            padding: 0;
                            border-radius: 0;
                            background-color: transparent;
                            color: var(--umkc-blue);
                            svg {
                                width: 40px;
                                height: 40px;
                            }
                        }
                    }
                }
                // Results Grid
                .results-grid {
                    ul.results-grid-wrapper {
                        display: flex;
                        gap: 40px;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: normal;
                        align-items: normal;
                        align-content: normal;
                        margin-left: 0;

                        
                        li.results-program {
                            display: block;
                            flex-basis: auto;
                            align-self: auto;
                            @include for-size(tablet-down){
                                width: 100%;
                                justify-content: center;
                            }
                            .results-program_image {
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                //@TODO: Determine proper sizing for these images
                                min-height:200px;

                                display: flex;
                                gap: 0px;
                                flex-direction: row;
                                flex-wrap: nowrap;
                                justify-content: flex-end;
                                align-items: normal;
                                align-content: normal;
                                text-align: right;
                                margin-bottom: 1.5rem;
                                
                                .results-program_button {
                                    margin: 5px;
                                    border-radius: 50%;
                                    text-align: center;
                                    line-height: 28px;
                                    color: var(--white);
                                    width: 30px;
                                    height: 30px;
                                    svg {
                                        height: 20px;
                                        width: 20px;
                                    }
                                }
                                .results-program_button__remote {
                                    background: $filter-light-blue;
                                }
                                .results-program_button__hybrid {
                                    background: $filter-yellow;
                                }
                                .results-program_button__on-campus {
                                    background: $filter-dark-blue;
                                }
                            }
                            .results-program_text-wrapper {
                                .results-program_title-type {
                                    font-size: 16px;
                                    font-weight: bold;
                                    color: var(--umkc-dark-blue);
                                }
                                .results-program_title {
                                    font-weight: 600;
                                    margin: 0.5rem auto;
                                    @include pfinder-font(24px,--umkc-blue);
                                }
                                ul.results-program_interest-list {
                                    margin-bottom: 2rem;
                                    li {}
                                }
                                .results-program_footer {
                                    display: grid;
                                    grid-template-columns: repeat(2, 1fr);
                                    grid-template-rows: repeat(1, 1fr);
                                    .results-program_footer-view-program {
                                        a {}
                                    }
                                    .results-program_footer-compare {
                                        #addToCompare {
                                            text-align: right;
    
                                            input[type="checkbox"] {}
                                            label {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // Attempting to use the exact same HTML that the grid view uses, but change out the classes using javascript
                // Results List
                .results-grid.results-list {
                    ul.results-grid-wrapper {
                        flex-direction: column; //Changed to column
                        li.results-program {
                            display: flex;
                            flex-direction: column;
                            padding: 2rem;
                            background-color: #f6f6f6;

                            &:nth-child(even){
                                background-color: white;
                            }

                            .results-program_image {
                                background-size: 0%; // Background-size to zero                                
                                min-height:0px;
                                max-height:0px;
                                order: 3;
                                justify-content: flex-start; //changed to flex-start
                                margin-bottom: 2.5rem; // Increased margin
                            }
                            .results-program_text-wrapper {
                                .results-program_title-type {
                                    order: 1; // Changed flexbox order
                                }
                                .results-program_title {
                                    margin: 0.25rem 0 0.25rem 0;
                                    order: 2; // Changed flexbox order
                                    text-align: left; // text alignment
                                }
                                ul.results-program_interest-list { display: none; }
                                //@TODO reconfigure the grid logic so the program-footer can be included.
                                .results-program_footer {
                                    display: none;
                                    .results-program_footer-view-program {
                                        display: none;
                                        a {}
                                    }
                                    .results-program_footer-compare {
                                        #addToCompare {
                                            input[type="checkbox"] {}
                                            label {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                } 
            }
        }
    }
}

// Compare Programs Flyout Elements

.compare-tab {
    position: fixed;
    right: -6rem;
    top: 60vh;
    background: var(--umkc-yellow);
    font-weight: bold;
    cursor: pointer;
    transform: rotate(-90deg);
    padding: 1rem 2rem;
    z-index:3;

    @include for-size(desktop-down){
        display: none;
    }
    
    transition: 0.1s ease background-color;
    
    &:hover {
        background-color: var(--umkc-dark-blue);
        right: -5rem;
        transition: 0.1s ease background-color;
        transition: 0.1s ease right;
        p {
            color: var(--umkc-yellow);
            transition: 0.1s ease color;
        }
    }
    &.compare-tab-open {
        display: none;
    }
    p {
        color: var(--umkc-dark-blue);
        transition: 0.1s ease color;

        span#comparedMajors {}
    }
}
.smokescreen {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.5);
    z-index: 9997;
    display: none;

    &.smokescreen-shown {
        display: block !important;
    }
}
.compare-flyout {
    background: var(--umkc-lighter-blue);
    padding: 3rem;
    //margin: 5rem;
    position: fixed;
    left: 0;
    top: 0rem;
    right:0;
    bottom:0;
    z-index: 2;
    display: none;

    &[aria-hidden="false"] {
        display: block;
        
    }
    &[aria-hidden="true"] {
        display: none;  
    }


    //@TODO Make this section full-screen even on desktop re: Courtney's designs
    @include mx.for-size("desktop-up"){
        //left: auto;
    }

    h3 {
        font-weight: bold;
        margin: 0 0 2rem;
        @include pfinder-font(24px,--umkc-dark-blue);
    }

    //@TODO: Repair the compare flyout close button to match Courtney design 10/30
    a.compare-flyout__close {
        // text-align: right;
        // position: absolute;
        // top: 1.5rem;
        // right: 1.5rem;
        display: none; 

        // svg {
        //     width: 2rem;
        //     height: 2rem;
        //     fill: var(--umkc-blue);
        //     transition: 0.1s ease fill;
        // }

        // &:hover {
        //     svg {
        //         fill: var(--umkc-dark-blue);
        //         transition: 0.1s ease fill;
        //     }
        // }
    }
    .compare-flyout-list {
        overflow: scroll;
        ul.compare-flyout-list-wrapper {
            display: flex;
            gap: 20px;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: normal;
            align-content: normal;
            margin-left: 0; // Overrride base ul, li tag stylings
            padding: 0; // Overrride base ul, li tag stylings
            list-style: none;

            @include mx.for-size("desktop-up"){
                justify-content: normal;
            }
            // li.compare-flyout-program {
            li.results-program {
                display: block;
                flex-basis: auto;
                align-self: auto;
                background: var(--white);
                .results-program_image {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    //@TODO: Determine proper sizing for these images
                    min-height:200px;

                    display: flex;
                    gap: 0px;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-items: normal;
                    align-content: normal;
                    text-align: right;
                    margin-bottom: 1.5rem;
                    
                    .results-program_button {
                        margin: 5px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 28px;
                        color: var(--white);
                        width: 30px;
                        height: 30px;
                        svg {
                            height: 20px;
                            width: 20px;
                        }
                    }
                    .results-program_button__remote {
                        background: $filter-light-blue;
                    }
                    .results-program_button__hybrid {
                        background: $filter-yellow;
                    }
                    .results-program_button__on-campus {
                        background: $filter-dark-blue;
                    }
                }
                .results-program_title-type {
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--umkc-dark-blue);
                }
                .results-program_title {

                    font-weight: 600;
                    margin: 0.5rem auto;
                    @include pfinder-font(24px,--umkc-blue);
                }
                ul.results-program_interest-list {
                    margin-bottom: 2rem;
                    li {}
                }
                .results-program_footer {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    .results-program_footer-view-program {
                        a {}
                    }
                    .results-program_footer-compare {
                        #addToCompare {
                            text-align: right;

                            input[type="checkbox"] {}
                            label {}
                        }
                    }
                }
                .compare-flyout-program_text {
                    margin: 1.5rem;
                }
                .compare-flyout-program_title-type {
                    font-size: 16px;
                    font-weight: bold;
                    color: var(--umkc-dark-blue);
                }
                .compare-flyout-program_title {
                    font-weight: 600;
                    margin: 0.25rem auto 0.5rem auto;
                    @include pfinder-font(24px,--umkc-blue);
                }
                ul.compare-flyout-program_interest-list {
                    margin-bottom: 3rem;
                    li {}
                }
                .compare-flyout-program_footer {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    .compare-flyout-program_footer-view-program {
                        a {}
                    }
                    .compare-flyout-program_footer-compare {
                        #addToCompare {
                            input[type="checkbox"] {}
                            label {}
                        }
                    }
                }
            }
            li.results-program {
                display: block;
                flex-basis: auto;
                align-self: auto;
                background: var(--white);
                .results-program_image {
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    //@TODO: Determine proper sizing for these images
                    min-height:200px;

                    display: flex;
                    gap: 0px;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-items: normal;
                    align-content: normal;
                    text-align: right;
                    margin-bottom: 1.5rem;
                    
                    .results-program_button {
                        margin: 5px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 28px;
                        color: var(--white);
                        width: 30px;
                        height: 30px;
                        svg {
                            height: 20px;
                            width: 20px;
                        }
                    }
                    .results-program_button__remote {
                        background: $filter-light-blue;
                    }
                    .results-program_button__hybrid {
                        background: $filter-yellow;
                    }
                    .results-program_button__on-campus {
                        background: $filter-dark-blue;
                    }
                }
                .results-program_text-wrapper {
                    margin: 1.5rem;

                    .results-program_title-type {
                        font-size: 16px;
                        font-weight: bold;
                        color: var(--umkc-dark-blue);
                    }
                    .results-program_title {
                        font-weight: 600;
                        margin: 0.5rem auto;
                        @include pfinder-font(24px,--umkc-blue);
                    }
                    ul.results-program_interest-list {
                        margin-bottom: 2rem;
                        li {}
                    }
                    .results-program_footer {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(1, 1fr);
                        .results-program_footer-view-program {
                            a {}
                        }
                        .results-program_footer-compare {
                            #addToCompare {
                                text-align: right;
    
                                input[type="checkbox"] {}
                                label {}
                            }
                        }
                    }
                }
            }
        }
    }    
}


// Program Finder Learn More Nav Element
// This should all be depreciated 
// .more-info-row__hidden {
//     position: fixed;
//     top: 3rem;
//     left: 0;
//     right: 0;
//     overflow: hidden;
//     z-index: -1;
//     display: none;
//     height: 0px;

//     transition: 1s ease height;
// }
// .more-info-row__shown {
//     z-index: 998;
//     display: block;
//     height: auto;

//     transition: 1s ease height;
// }


// 4 Different "Screens" on the Search/Results page
// The are some lazy fill-ins until further planning


@media screen and (max-width: 1200px) {
    // Toggles
    #search-toggle[aria-hidden="true"] {
        display: none;
    }
    #search-toggle[aria-hidden="false"] {
        display: flex;
        position: fixed;
        top:0;left:0;right:0;bottom:0;
        z-index:2;

        .search-wrapper, .area-wrapper {
            margin:0;
        }
    }
    #filter-toggle[aria-hidden="true"] {
        display: none;
    }
    #filter-toggle[aria-hidden="false"] {
        display: flex;
        flex-direction: column;
        position: fixed;
        top:0;left:0;right:0;bottom:0;
        z-index:2;
    }
    #compare-toggle[aria-hidden="true"] {
        display: none;
    }
    #compare-toggle[aria-hidden="false"] {
        
    }
    #resultsTopBar { display: none; }
}


// Leftover code from my previous attempt to use #data-toggles on the more-info-row
// #more-info-row[aria-hidden="true"]{
//     display: none;
// }
// #more-info-row[aria-hidden="false"]{
//     display: grid;
// }
