@use "../01-abstracts/mixins" as mx;

table {
  border-collapse: collapse;
  margin: mx.px-to-rem(50px) auto;
  width: 100%;

  caption {
    caption-side: top;
    font-weight: bold;
    padding: 0.75rem 0;
    text-align: center;
  }

  th {
    background: var(--umkc-blue);
    color: var(--white);
    text-align: left;
  }
  th, td{
    border: solid mx.px-to-rem(2px) rgba(0,0,0,0.05);
    text-align: left;
    padding: 0.675rem;
  }
  td {
  }

  tr:nth-of-type(odd){
    background: #f3f3f3;
  }
}
