@use "../01-abstracts/mixins" as mx;
@use "buttons" as btn;
.tabs {
  $self: &;
  display: flex;
  gap: 1rem;
  @include mx.for-size("tablet-landscape-up") {
    width: 65vw;
    margin: 0 auto;
  }

  &__nav {
    display: none;
    flex: 0 0 25%;
    @include mx.for-size("desktop-up"){
      display: block;
    }
  }
  &__container {
    border-radius: 0.5rem;
    flex: 1;
    @include mx.for-size("desktop-up"){
      border: var(--umkc-gray) 0.375rem solid;
    }
  }
  &__content {
    border: var(--umkc-gray) 0.375rem solid;
//     visibility: hidden;
//     overflow: hidden;
//     max-height: 0;
//     padding: 1rem;
//
//     @include mx.tr();
//     &[aria-hidden=false] {
//       visibility: visible;
//       max-height: 100vh;
    display: none;
    padding: 1rem;
    &[aria-hidden=false] {
      display: block;
    }
    @include mx.for-size("desktop-up"){
      border-color: transparent;
    }
  }
  &__title{
    --heading-margin: 0 0 0.75rem;
    --heading-size: #{mx.px-to-rem(28px)};
  }
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-content: start;
    flex-direction: column;
    gap: 0.25rem;
  }
  &__item {

  }
  &__link {
    @extend .button;
    display: block;
    border-color: var(--umkc-navy);
    &[aria-expanded=true]{
      background: var(--umkc-navy);
      color: white;
    }
    &:hover, &:focus {
      background: var(--umkc-yellow);
      color: var(--umkc-navy);
      border-color: var(--umkc-yellow);
    }
  }
  &--hide-desktop{
    margin: 0;
    @include mx.for-size("desktop-up"){
      display: none;
    }
  }
  &--online {
    display: block;
    width: unset;
    margin: 2rem calc( (var(--content-padding) + 1.5rem) * -1 );

    #{$self}__nav {
      display: block;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background: white;
      z-index: 1
    }

    #{$self}__content {
      border: none;
      padding-bottom: 0;
      scroll-margin-top: 6.5rem;
    }

    #{$self}__list {
      display: flex;
      flex-flow: row;
      justify-content: center;
      border-bottom: 0.5rem solid var(--umkc-blue);
      gap: 0.25rem;

      @include mx.for-size("tablet-landscape-up"){
        gap: 1rem;
      }
    }

    #{$self}__container {
      border: none;

      button {
        display: none !important;
      }
    }

    #{$self}__link {
      display: inline-block;
      background: none;
      border: transparent 0.25rem solid;
      border-bottom: none;
      color: var(--umkc-blue);
      @include mx.font-size(18px);
      border-radius: unset;
      padding: 1rem 0.5rem;

      @include mx.for-size("tablet-landscape-up"){
        @include mx.font-size(24px);
        padding: 1rem 1rem;
      }

      @include mx.for-size("desktop-up"){
        @include mx.font-size(28px);
        padding: 1.25rem 1rem;
      }


      &:hover {
        border-color: var(--umkc-blue);
      }
      &[aria-expanded=true]{
        background: var(--umkc-blue);
        color: var(--white);
      }
    }
  }

}
