@use "../01-abstracts/mixins" as mx;

.teaser {
  font-family: var(--slab);
  color: var(--umkc-dark-blue);
  font-size: var(--teaser-font-size, #{mx.px-to-rem(28px)});
  margin: var(--teaser-margin, var(--content-padding) var(--content-padding) 0);
  font-weight: 300;
}
