@use "../01-abstracts/mixins" as mx;

.timeline {
  $self: &;
  --heading-margin: 0;
  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;

    &:first-child {
      --top: 0;
    }

    &:nth-child(even){
      background: var(--umkc-lighter-blue);
    }
  }
  &__svg {
    display: none;

    @include mx.for-size("tablet-landscape-up"){
      display: block;
      flex: 0 0 mx.px-to-rem(340px);
      text-align: right;
      position: relative;
      padding: 1rem var(--content-padding) 0 0;
    }

  }

  &__decade {
    svg {
      max-width: fit-content;
      height: mx.px-to-rem(65px);
      @include mx.for-size("tablet-portrait-up"){
        max-width: none;
      }
    }
  }

  &__year, &__title {
    font-family: var(--os);
    font-weight: 400;
    text-transform: uppercase;
  }
  &__year {
    @include mx.font-size(15px);
    color: var(--umkc-blue);
  }
  &__title {
    --heading-color: var(--umkc-dark-blue);
    --heading-size: #{mx.px-to-rem(24px)};
  }
  &__card {
    margin-left: var(--content-padding);
    border-left: 5px solid var(--umkc-dark-blue);
    padding: var(--content-padding);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: mx.px-to-rem(28px);
      width: mx.px-to-rem(28px);
      background: white;
      border-radius: 100%;
      top: var(--top, 2rem);
      border: mx.px-to-rem(5px) solid var(--umkc-dark-blue);
      // top: 0;
      left: calc((mx.px-to-rem(28px + 5px) / 2) * -1);
    }
  }

  &__gallery {
    --max-width: #{mx.px-to-rem(600px)};
    --image-width: calc(var(--max-width) - 1rem);
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    max-width: var(--max-width);
    margin: 1.5rem 0;
    &--2 {
      img {
        width: calc( var(--image-width) / 2 );
      }
    }
    &--3 {
      img {
        width: calc( var(--image-width) / 3 );
        aspect-ratio: 1 / 1;
      }
    }
    &--4 {
      img {
        width: calc( var(--image-width) / 3 );
      }
      img:first-child {
        flex-basis: 100%;
      }
    }
  }

  // SVG Animations and more...
  &__stars {
    display: block;
    height: mx.px-to-rem(100px);
    position: absolute;
     right: var(--content-padding);
     top: var(--content-padding);
  }

  &__rocket {
    display: block;
    height: mx.px-to-rem(125px);
    position: absolute;
      right: var(--content-padding);
      top: 550px;
  }

  &__ai {
  }

  &__2010s{
  }
  // .fightin-roo{
  //   height: 100px;
  // }


  &__2000s{

  }

  &__90s{}
  &__80s{}
  &__70s{}
  &__60s{}
  &__50s{}
  &__40s{}
  &__30s{}
}

@keyframes rotate {
  0% {transform: rotateZ(8deg);}
  50% {transform: rotateZ(-8deg);}
  100% {transform: rotateZ(8deg);}
}
