@use "../01-abstracts/mixins" as mx;

.video-shorts{
  display: flex;
  gap: 20px;
  justify-content: space-around;
  &__item {

  }

  &__embed {
    iframe {
      height: mx.px-to-rem(432px);
      width: mx.px-to-rem(352px);
    }
  }

  &__content {

  }
}
