$base-font-size: global 16px;
$base-line-height: global 1.25;

@use 'reset';
@use 'vars/colors';
@use 'vars/fonts';
@use 'mixins' as mx;
@use 'backgrounds';

:root{
  --global-padding: #{mx.px-to-rem(30px)};
}
body{
  font-size: 16px; // Font Reset, 16px = 1rem
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;

  > svg {
    display: none;
  }
}

// Setup the headings
// @each $heading in (1,2,4,5,6){
//   h#{$heading}{
//     font-family: "Roboto", sans-serif;
//   }
// }

@media ( prefers-color-scheme: dark) {
  // Set various background colors, etc. so that this would work!
}

.stripes{
  background-image: repeating-linear-gradient(145deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 7px, rgba(255,255,255,0.10) 4px, rgba(255,255,255,0.10) 8px);
  &--dark{
    background-image: repeating-linear-gradient(145deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 2px, rgba(0,0,0,0.10), rgba(0,0,0,0.10) 4px);
  }
}

.header{
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  position: relative;
  align-items: center;
  padding: 0.75rem var(--global-padding);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  @include mx.for-size("tablet-landscape-up"){
    justify-content: space-between;
    flex-direction: row;
  }
  .site-title{
    @include mx.font-size(18px);
    margin: 3.5rem 0 0;
    text-transform: uppercase;
    @include mx.for-size("tablet-landscape-up"){
      margin: 0;
    }
    a{
      text-decoration: none;
    }
  }
  &__nav{
    background: var(--umkc-dark-blue);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;

    @include mx.for-size("tablet-landscape-up"){
      position: static;
      background: transparent;
      text-align: right;
      padding: unset;
      width: auto;
    }
    a, span{
      color: var(--white);
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      display: inline-block;
      &:nth-of-type(1n+4){
        display: none;
        font-weight: 400;
      }

      @include mx.for-size("tablet-landscape-up"){
        display: inline-block;
        &:nth-of-type(1n+4){
          display: inline-block;
        }
      }
    }
  }
}

.branding{
  flex-grow: 1;
}

// Height of the "U" is approximately 60px; Padding around logo needs to be 30px
.logo{
  height: 7rem;
}

.footer{
  padding: var(--global-padding);
  color: var(--white);
  font-weight: 300;
  [class*="footer--"]{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mx.font-size(18px);
  }

  &__nav{
    @include mx.font-size(24px, 1.5);
    margin-bottom: 1rem;
    &--bold{
      font-weight: 700;
    }
    &--separator{
      border-left: mx.px-to-rem(1px) solid #3f95db;
      padding-left: 1rem;
    }
    ul{
      margin: 0;
      padding: 0;
    }
  }

  &__curator{
    margin-top: 1.5rem;
    a{ color: white; }
    ul{ margin: 0; padding: 0 }
    li {
      display: inline-block;
      padding: 0 0.5rem;
      &:not(:last-child){
        border-right: 1px solid var(--white);
      }
    }
  }
}

.footer, .header{
  &__nav a{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: var(--white);
    position: relative;
    text-decoration: none;
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: mx.px-to-rem(2px);
      bottom: 0;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 250ms ease-in-out;
    }

    &:hover, &:focus {
      text-decoration: none;
      &:after{
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }
}
