$base-font-size: global 16px;
$base-line-height: global 1.25;

@use 'reset';
@use 'vars/colors';
@use 'vars/fonts';
@use 'mixins' as mx;
@use 'backgrounds';

:root{
  --global-padding: #{mx.px-to-rem(30px)};
}
body{
  font-size: 16px; // Font Reset, 16px = 1rem
  line-height: 1.4;
}

// Setup the headings
// @each $heading in (1,2,4,5,6){
//   h#{$heading}{
//     font-family: "Roboto", sans-serif;
//   }
// }

@media ( prefers-color-scheme: dark) {
  // Set various background colors, etc. so that this would work!
}

.stripes{
  background-image: repeating-linear-gradient(145deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 7px, rgba(255,255,255,0.10) 4px, rgba(255,255,255,0.10) 8px);
  &--dark{
    background-image: repeating-linear-gradient(145deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0) 2px, rgba(0,0,0,0.10), rgba(0,0,0,0.10) 4px);
  }
}

.header{
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  position: relative;

  @include mx.for-size("tablet-landscape-up"){
    justify-content: space-between;
    flex-direction: row;
  }

  align-items: center;
  padding: 0.75rem var(--global-padding);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  h1{
    @include mx.font-size(18px);
    margin: 3.5rem 0 0;
    text-transform: uppercase;
    @include mx.for-size("tablet-landscape-up"){
      margin: 0;
    }
  }
  a{
    text-decoration: none;

    &:hover, &:focus{
      text-decoration: underline;
    }
  }
  &__nav{
    background: var(--umkc-dark-blue);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;

    @include mx.for-size("tablet-landscape-up"){
      position: static;
      background: transparent;
      text-align: right;
      padding: unset;
      width: auto;
    }

  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      display: inline-block;
      &:nth-of-type(1n+4){
        display: none;
        font-weight: 400;
      }

      @include mx.for-size("tablet-landscape-up"){
        display: inline-block;
        &:nth-of-type(1n+4){
          display: inline-block;
        }
      }

      a, span{
        padding: 0.5rem;
        color: white;
      }
    }
  }
}

.branding{
  flex-grow: 1;
}

// Height of the "U" is approximately 60px; Padding around logo needs to be 30px
.logo{
  width: mx.px-to-rem(200px);
}
