@charset 'utf-8';

// Abstracts -- Not needed individually, as scoping requires it
// @use "01-abstracts/__abstracts";
// Base Styles
@use "02-base/__base.scss";

// Components
@use "03-components/__components.scss";

// Layout
@use "04-layouts/__layouts.scss";

// Utilities - Overrides and
@use "05-utilities/__utilities.scss";

// @media (prefers-color-scheme: dark) {
//   // Set various background colors, etc. so that this would work!
// }
